	/* ------------챌린지 리스트 (challenge/list.html)-------------- */
/* 챌린지 생성 버튼 */
.create-challenge-btn {
	display: inline-block;
	padding: 12px 40px;
	border-radius: 4px;
	color: #fff;
	background-color: #0d42ff;
	border: 2px solid #0d42ff;
	transition: none;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s;
	font-family: var(- -font-primary);
}

/* 챌린지 생성 버튼 감싸는 div */
.create-challenge-div {
	text-align: right;
}

/* 리스트 정렬 select 태그 감싸는 div */
.order-div {
	display: inline-block;
}

/* 리스트 정렬 select 태그 */
.handa-list-select {
	appearance: auto;
	-moz-appearance: auto;
	-webkit-appearance: auto;
}

/* 리스트 검색 form 태그 감싸는 div */
.search-div {
	display: inline-block;
	padding: 0px 15px;
	text-align: right;
}

/* 리스트 검색창 */
.search-div input {
	display: inline-block;
	width: initial;
	/* height: 100%; */
	vertical-align: middle;
	border-radius: 3px 0px 0px p3x !important;
	height: 50px; 
	line-height: 50px;
}

/* 리스트 검색 버튼 */
.list-search-btn {
	margin-left: -10px;
	vertical-align: middle;
	border-radius: 0px 3px 3px 0px !important;
	/* height: 100%; */
	margin-top: 0;
	height: 50px;
}

.list-search-btn:hover{
	margin-left: -10px;
	vertical-align: middle;
	border-radius: 0px 3px 3px 0px !important;
	height: 100%;
	margin-top: 0;
}

/* 리스트 검색 form 태그 */
.handa-search-form {
	height: 36px;
	vertical-align: middle;
}

/* 리스트 검색 버튼 (파란테두리 흰배경) */
.handa-outline-btn {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px;
	color: #0d42ff;
	transition: none;
	font-size: 14px;
	font-weight: 500;
	font-family: var(- -font-primary);
	transition: 0.3s;
	border: 1px solid #0d42ff;
	background-color: #fff;
}

.create-btn{
	height: 50px; 
	line-height: 50px;
}

.challenge-thumbnail{
	height: 280px;
	width: 400px;
}

.challenge-item{
	width: 400px;
}

.state{
    padding: 0 15px 0 25px;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-between; */
    margin-bottom: 25px;
    margin-top: 15px;
}

.state > div{
	border-radius: 4px;
    background: #ebebeb;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #747474;
    
    margin-top: 2px;
}
 
#card-p{
 	padding: 0 30px;
    margin-bottom: 10px;
    color: var(--color-secondary);
    font-size: 15px;
 }
 
 .challenge_cost{
 	height : 30px;
 	width : 30px;
 	margin-right : 10px;
 	float : right;
 	vertical-align: middle;
 }
 
 .open-dt{
 	float : left;
 }
 
 .state-label{
 	float: right;
 }
 
 .toggle-div{
 	padding-top: 10px;
    margin-left: 50px;
    margin-right: 40px;
 }
 
 #toggle-input:checked{
 	background-color: #86a0e6;
 }
 
.date-p{
	float:left;
}

.dday{
	font-size: 15px;
    float: right;
    margin-right: 20px;
    color: #FF8080;
    font-weight: 600;
}

/* ------------ 챌린지 생성 (challenge/create.html)-------------- */
/* 카테고리 대분류 */
/* .main-category {
	display: block;
	width: 100%;
	padding: 0.7rem 0.9rem;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0 !important;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font-size: 14px;
} */

/* 챌린지 생성버튼 감싸는 div */
.create-challenge {
	margin-top: 50px;
}

#challenge_type {
	border-radius: 4px 0px 0px 4px;
}

#challenge_cost {
	border-radius: 0px 4px 4px 0px;
}

.create-label {
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
}

.challenge_create .form-control {
	font-size: 15px !important;
}

/* ------------ 챌린지 상세 (기본정보 페이지 challenge/detail.html) -------------- */
.challenge-detail-section {
	/* margin-top: 60px; */
	padding-top: 0px;
	padding-bottom: 0px;
}

.challenge-detail-section1 {
	margin-top: 150px;
	padding-top: 0px;
}
/* 챌린지 상세 탭 (기본정보, 댓글) */


/* 스크롤 탭 관련 css */
#member, #explanation, #caution{
	scroll-margin-top: 9em;
}
#comment{
	scroll-margin-top: 5em;
}

#scroll-interval{
	height: 38px;
} 

/* 챌린지 상세보기 메뉴 탭 */
#scrollMenu{
	margin-top: 1em;
}

/* 챌린지 상세보기 메뉴 탭 스크롤 시 */
#scrollMenu.fixed{
	position:fixed;
	z-index: 1000;
	top: -1em;
	width: 100%;
	height: 5em;
	margin-top: 5em;
/* 	position:sticky; */
}

#first-menu{
	margin-left: 12em;
}

.challenge-detail-tab{
	position: relative;
	border-bottom: 0;
	background-color: #fff
}

.challenge-detail-tab a:hover{
	color: #000;
	border-color: var(--color-primary);
}

.menuTab:active{
	font-weight: 700;
	border-color: var(--color-primary);
}

.menuTab{
	display: inline-block;
	text-align: center;
	width: 120px;
	line-height: 1;
	padding: 8px 0px 15px 0px;
	border-bottom: 3px solid #c2cbdf;
	margin: 20px 0;
	color: #000;
	transition: 0.3s;
}
.activeMenu{
	font-weight: 700;
	display: inline-block;
	text-align: center;
	width: 120px;
	line-height: 1;
	padding: 8px 0px 15px 0px;
	border-bottom: 3px solid var(--color-primary);
	margin: 20px 0;
	color: #000;
	transition: 0.3s;
}


/* 챌린지 제목 h3 태그 */
.ch-detail-title {
	margin: 0;
	margin-bottom: 0px;
    font-size: 2rem;
    color: #1e1e1e;
    letter-spacing: -0.7px;
    font-weight: bold;
    line-height: 43px
}

.thumb-div {
	height: 515px;
	overflow: hidden;
	/* border-radius: 6px;
	z-index: 0;
	isolation: isolate; */
}

/* 챌린지 썸네일 img 태그 */
.ch-detail-thumb {
	/* height: 300px; */
	/* --bs-gutter-x: initial; */
	/* border-radius: 6px; */
	width: 100%;
    height: 100%;
    border-radius: 5px;
}

.challenge-summary {
	/* height: 300px; */
	padding: 12px;
	margin-bottom: 25px;
	padding-left: 4%;
	margin-top: 10px;
}

/* 참여인원 p 태그 */
.join-member-text {
	padding: 8px 8px 0px 8px;
	font-weight: bold;
}

/* 참여인원 명 수 span 태그 */
.join-member-num {
	font-weight: normal;
	font-size: 14px;
}

/* 참여인원 */
.challenge-join-member {
	border: 1px solid #afafaf;
	border-radius: 8px;
	height: 300px;
	padding: 12px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

/* 참여인원 목록 */
.ch-j-detail-div {
	border: 1px solid #afafaf;
	border-radius: 8px;
	padding: 10px 12px;
	margin: 5px 0px;
}

.ch-j-detail-div:hover {
	background-color: #e7f1f5;
}

.ch-j-detail {
	display: inline-block;
	margin: 0px;
}

.ch-user-icon {
	font-size: 20px;
	color: #8a8a8a;
	margin-right: 5px;
}

.ch-detail-position {
	font-size: 13px !important;
}

.ch-detail-aff {
	font-size: 12px !important;
	color: #818181;
}

/* 챌린지 목록 이동 버튼 감싸는 div */
.ch-detail-to-list-btn {
	text-align: right;
	margin-top: 30px;
}

/* 참여하기 버튼 */
.challenge-join-btn {
    background: var(--color-primary);
    padding: 12px 20px;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.challenge-join-btn:hover {
    background: #fff;
    color: var(--color-primary);
}

.ch-detail-category {
	font-size: 14px;
	color: #999;
}

.challenge-summary .profile-img {
	width: 8%;
	border-radius: 50%;
	margin-right: 4px;
}

.challenge-summary .create-user {
	margin: 15px 0px 23px 0px; 
}

.challenge-summary .create-user small {
	color: #777;
}


.challenge-summary .price-div {
	margin: 30px 0px;
}

.challenge-summary .price {
	font-size: 1.3rem;
}

.challenge-summary .kind {
	font-size: 13px;
	color: #999;
	margin: 0px;
	margin-bottom: 8px;
}

.challenge-summary .price .price-text {
	font-size: 18px;
}

.ch-detail-etc {
	
}

.ch-detail-etc .status {
	font-size: 14px;
	background-color: #eee;
	border-radius: 3px;
	padding: 4px 7px; 
}

.ch-detail-etc .share {
	font-size: 14px;
	background-color: #eee;
	border-radius: 3px;
	padding: 4px 7px;
	right: 0;
}

.ch-detail-etc .share i {
	font-size: 12px;
	padding-right: 5px;
}

.ch-detail-etc .share a {
	font-size: 14px;
	background-color: #eee;
	color: #0a0d13;
}

.ch-detail-etc .challenge-toast {
	background-color: #000;
	color: #fff;
	opacity: 0.7;
	border-radius: 6px;
	padding: 5px 10px;
	margin-top: 10px;
	display: none;
}


.ch-detail-etc .share a:hover {
	color: var(--color-primary);
	text-decoration: underline;
}

.challenge-summary .date, .challenge-summary .num {
	margin: 10px 0px; 
}

.challenge-summary .date {
	margin-top: 30px; 
}
.challenge-summary .num {
	margin-bottom: 30px; 
}

.challenge-summary .date small, .challenge-summary .num small {
	margin-right: 8px;
}

/* 챌린지 상세(기본정보) 반응형 css */
@media ( max-width : 1200px) {
	.ch-detail-thumb {
		width: 100%;
		display: block;
	}
	.challenge-join-member {
		width: 94%;
		margin: 2% 3%;
	}
	.challenge-summary {
		width: 94%;
		margin: 2% 3%;
	}
}

/* ------------ 챌린지 상세 (댓글 페이지 challenge/comment.html) -------------- */
/* 댓글 작성하기 버튼 */
.comment-btn {
	background: #0d42ff;
	border: 0;
	padding: 10px 30px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
	width: 10%;
}

.comment-btn:hover {
	width: 10%;
	border: 0;
	padding: 10px 30px;
}

.ch-comment-input-content {
	margin-top: 25px;	
}

.ch-comment-create-div {
	text-align: right;
}

/* 댓글 목록 css */
.comment-content .card {
	border: none;
	box-shadow: 5px 6px 6px 2px #e9ecef;
	border-radius: 4px;
}

.comment-content .dots {
	height: 4px;
	width: 4px;
	margin-bottom: 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.comment-content .badge {
	padding: 7px;
	padding-right: 9px;
	padding-left: 16px;
	box-shadow: 5px 6px 6px 2px #e9ecef;
}

.comment-content .user-img {
	margin-top: 4px;
	margin-right: 10px;
}

.comment-content .check-icon {
	font-size: 17px;
	color: #c3bfbf;
	top: 1px;
	position: relative;
	margin-left: 3px;
}

.comment-content .form-check-input {
	margin-top: 6px;
	margin-left: -24px !important;
	cursor: pointer;
}

.comment-content .form-check-input:focus {
	box-shadow: none;
}

.comment-content .icons i {
	margin-left: 8px;
}

.comment-content .reply {
	margin-left: 12px;
}

.comment-content .reply small {
	color: #b7b4b4;
}

.comment-content .reply small:hover {
	color: blue;
	cursor: pointer;
}

.comment-content .comment-list-position {
	font-size: 12px;
	margin-right: 10px;
}
/* 댓글 목록 css end */

/* editor 관련 css */
.ck-editor__editable {
    min-height: 400px;
}

/* modal 관련 css */
.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;	
}

.modal.show {
  display: block;
}
	

#modal_body {
  position: absolute;
  top: 40%;
  left: 50%;

  width: 85%;
  height: 80%;

  padding: 10px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
/* modal 관련 css */

/* 챌린지 생성화면 css */

.profile-btn{
	position: relative;
	width:95%;
	height:438px;
	border: 0;
	margin:0px auto;
	background-color: rgb(255, 255, 255);
}
.profile-img{
	border-radius: 15px;
	width:100%;
	height:100%;
	display: block; 
	margin: 0px auto;
}

.defaultimg{
	position: absolute;
	border-radius: 15px;
	width:32%;
	height:40%;
	display: block; 
	margin: 0px auto 80px;
	left:34%;
	bottom:18%;
	transition: .6s;
}
.searchimg{
	position: absolute;
	border-radius: 15px;
	width:15%;
	height:20%;
	display: block; 
	margin: 0px auto 80px;
	left:41%;
	bottom:24%;
	display: none;
	transition: .6s;
}


.img-btn{
	width:200px;
	height:200px;
	border:0;
	outline: 0;
	background-color:white;
}

.img-lists{
	width: 100%;
	height: 100%;
}

.img-wrapper {
    width: 100%;
    text-align: left;
    margin-top: 0px;
}
.image--cover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  /* object-position: center right; */
  /* border: 3px solid #000; */
}

.img-wrapper span {
	margin-left: 8px;
}

.comment-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.vertical-align-bottom{
	vertical-align: middle;
}

