.breadcrumbs {
	margin-bottom: 40px;
}

.testimonials {
	background: none;
	padding: 160px 0;
	/* background: url(../img/banner/banner-1.jpg) no-repeat; */
	background-size: cover; /* 백그라운드 이미지 꽉차게 */
	background-position: center;
}

.testimonials::before {
    /* content: "";
    position: absolute;
    inset: 0; */
    background-color: rgba(14, 29, 52, 0);
}

.testimonials .swiper-pagination {
    /* margin-top: 200px; */
    position: relative;
    bottom: 0;
}

.swiper-pagination-bullets {
	
}

.challenge-thumbnail {
	width: 100% !important;
} 

.testimonial-item, .testimonial-item h3, .testimonial-item h4 {
	color: #616161!important;
}

.testimonial-item button {
	padding: 15px 30px;
	border-radius: 50px;
	border: 1px solid #616161;
	margin-top: 20px;
	/* background-color: rgba(255, 255, 255, 0.4); */
	background-color: rgba(255, 255, 255, 0);;
	color: #616161;
	font-weight: lighter;
}

.testimonial-item button:hover {
	opacity: 0.7;
	transition: .5s;
}

.main-banner .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
    border-radius: 0px;
    width: 40px;
    height: 2px;
}

.main-banner .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #616161;
    opacity: 1;
}

.main-banner {
	padding: 0px;
	height: 400px;
}

.main-banner .testimonial-item {
	padding: 10% 20%;
	height: 400px;
	width: 100%;
}

.main-banner .swiper-container {
	height: 430px;
	vertical-align: middle;
	width: 100%;
}

.main-banner .swiper-slide {
	width: 100%;
}

.main-banner .swiper-container .slides-1 {
	vertical-align: middle;
	display: inline-block;
	height: 400px;	
}

.event-banner {
	/* background-color:  #eff3fc; */
	padding: 0px 0px;
	margin-bottom: 50px;
	height: 200px;
}

.event-banner .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 1);
    /* opacity: 0.5; */
    border-radius: 50px;
}


.event-banner .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #616161;
    opacity: 1;
}

.testimonials .swiper-pagination {
    margin-top: -40px;
    position: relative;
    bottom: 0;
    height: 200px;
}

.event-banner .testimonial-item {
	height: 200px !important;
}

/* 검색 */
.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:1px solid #8c97a6;
}

.search-tag {
	margin-top: 5px;
	padding-left: 12px;
}

.search-tag span{
	margin-right: 3px;
	font-size: 14px;
	color: #b0bac4;
}

.search-btn{
	color: #686f75;
}

.challenge-item {
	border-radius: 5px;
}

.services .card {
    border: 1px solid rgba(14, 29, 52, 0.15);
    background: #fff;
    position: relative;
    border-radius: 5px;
    height: 100%;
}

.services .card .card-img {
	border-radius: 5px 5px 0 0;
	height: 200px;
}

.ch-menu-title {
	margin-top: 50px;
}

.ch-menu-title h5 {
	/* font-weight: bold; */
}

:root {
    --swiper-theme-color: #808080;
}

.challenge-item {
	width: auto;
}