/* ------------ 로그인 (member/login.html) -------------- */
.login-div {
	width: 40%;
	display: inline-block;
}

/* 반응형 */
@media (max-width: 900px) {
	.login-div {
		width: 90%;
		display: inline-block;
	}
}

.login-section {
	padding-top: 0px;
	padding-bottom: 80px;
}

.login-label {
	margin-bottom: 10px;
}

.memberid-div {
	margin-top: 15px;
}

.login-btn-div {
	margin-top: 30px;
}

.login-btn-div button {
	width: 100%;
	border: 1px solid var(--color-primary) !important;
}
.remember-div {
	text-align: left;
	padding-left: 20px;
}
.find-div {
	height: 44px;
	line-height: 44px;
	text-align: right;
	padding: 0px;
}

.remember-div label {
	height: 44px;
	line-height: 44px;
	vertical-align: top;
}
.remember-me {
	webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    width: 10%;
    display: inline-block;
}

.login-btn-div .register-btn {
	margin-top: 10px;
	background-color: #fff !important;
	border: 1px solid var(--color-primary) !important;
	color: var(--color-primary) !important;
    padding: 10px 35px;
    transition: 0.4s;
    border-radius: 5px;
}

/* 회원가입 하기 div */
.member-join-div {
	font-size: 14px;
	margin-top: 15px;
}


/* select 태그 화살표 표시 */
.handa-list-select {
	appearance: auto;
	-moz-appearance: auto;
	-webkit-appearance: auto;
}

.login-error {
	color: #ce6868;
}

/* ------------ 회원가입 (member/register.html) -------------- */
.register-div {
	width: 55%;
	display: inline-block;
}

.register-btn-div {
	margin-top: 50px;
}

/*  파일업로드 관련 css */
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
	display: inline-block;
	padding: .5em .75em;
	/* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none;
	/* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}
/* 파일 업로그 관련 css  */

/* 회원가입 화면 css */
.register-padding-top-0 {
	padding-top: 0
}

.register-padding-top-30px {
	padding-top: 30px
}

.register-width100 {
	width: 100%
}

.register-button-width {
	width: 140px
}

.register-label-style {
	float: left;
	padding: 10px 0 0 10px;
}

.register-gender-button{
	width:200px;
	padding-top:10px;
}

.register-gender-button{
	width:200px;
	padding-top:10px;
	background-color: #fff;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.register-gender-button:hover{
	background-color: #fff;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	opacity: 0.5;
}

.register-gender-button:focus{
	background-color: #fff;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.register-gender-button-active:hover{
	background-color: var(--color-primary);
	color: #fff;
	opacity: 0.5;
	transition: opacity .5s;
}

.register-gender-button-active {
	background-color: var(--color-primary);
	color: #fff;
}

.register-gender-button-active:focus {
	background-color: var(--color-primary);
	color: #fff;
}

.register-float-right {
	float:right;
}

/* 성별 선택 라디오 버튼 */
.select {
    /* padding: 15px 10px; */
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
   /*  height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px; */
    
    width:200px;
	background-color: #fff;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	border-radius: 0.375rem;
	
}
.select input[type=radio]:checked+label{
    background-color: var(--color-primary);
	color: #fff;
}

/* ------------ 회원정보 수정 (member/amend.html) -------------- */
/*  파일업로드 관련 css */
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: var(--color-primary);
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid var(--color-primary); 
	border-radius: .25em;
}

.filebox label:hover {
	color: #fff;
	background-color: var(--color-primary);
	cursor: pointer;
	border: 1px solid var(--color-primary);
	border-radius: .25em;
	transition: .5s;
}

/* named upload */
.filebox .upload-name {
	display: inline-block;
	padding: .5em .75em;
	/* label의 패딩값과 일치 */
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	-webkit-appearance: none;
	/* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
}
/* 파일 업로드 관련 css  */

/* 회원가입 화면 css */
.register-padding-top-0 {
	padding-top: 0
}

.register-padding-top-30px {
	padding-top: 30px
}

.register-padding-top-10px{
	padding-top: 10px
}

.register-width100 {
	width: 100%
}

.register-button-width {
	width: 140px
}

.register-label-style {
	float: left;
	padding: 10px 0 0 10px;
}

.register-gender-button{
	width:200px;
	padding-top:10px;
}

.register-float-right {
	float:right;
}


.img-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 18px;
}
.image--cover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  /* object-position: center right; */
}