<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta charset="UTF-8">
	<title>내가 참여한 챌린지 목록</title>
	
	<!-- include CSS File -->
	<th:block layout:fragment="css">
		<!-- Handa Challenge CSS File -->
		<link th:href="@{/assets/css/mypage.css}" rel="stylesheet">
	</th:block>
</head>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>My Page</h2>
						</div>
					</div>
				</div>
			</div>
			
			<nav>
				<div class="container">
					<ol>
						<li><a th:href="@{/}"><i class="fa-solid fa-house-chimney"></i></a></li>
						<li>마이페이지</li>
						<li>참여 챌린지</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- ======= Services Section ======= -->
		<section id="service-details-list" class="services service-details">
			<div class="container aos-init aos-animate" data-aos="fade-up">
				<div class="row gy-4">
					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" th:each="part : ${partList}">
						<div class="card challenge-item">
							<div class="card-img">
								<img th:src="${part.thumbnail}" alt="" class="img-fluid challenge-thumbnail">
							</div>
							<h3>
								<a th:href="@{/challenge/detail(challenge_id=${part.challenge_id})}"
									th:text="'[' + ${part.subcategory_name} + '] ' + ${part.challenge_name}"></a>
							</h3>
							
							<div>
								<p id="card-p" class="date" th:text="${part.startdate} + ' ~ ' + ${part.enddate}"></p>
								<span th:if="${part.challenge_state} == '모집중'" class="dday-list" th:text="'D-' + ${part.dday}"></span>
							</div>
									
							<p id="card-p" th:text="'참여인원 ' + ${part.joinVO.count} + '명'"></p>
							<div class="state-list">
								<div class="open-dt" th:text="${part.createdate} + ' 생성'"></div>
								<div class="state-label" th:text="${part.challenge_state}"></div>
								<img th:if="${part.challenge_type} == '유료'" th:src="@{../assets/img/won.png}" alt="" class="challenge_cost">
							</div>
								
              				<!-- 챌린지 탈퇴 버튼 -->
              				<div class="mypage-btn-div">
              					<button th:unless="${part.challenge_type} == '유료'" id="challenge-secession" class="handa-outline-btn"
              						th:challenge_id="${part.challenge_id}" onclick="secession(this.getAttribute('challenge_id'))">탈퇴</button>
              					<button th:if="${part.challenge_type} == '유료'" id="challenge-secession" class="part-cost-btn btn" disabled>탈퇴</button>
              				</div>
						</div>
          			</div><!-- End Card Item -->
      			</div>
      		</div>
		</section>
	</main>
	<!-- End #main -->
	
<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
<script th:inline="javascript">

//탈퇴 버튼 클릭
function secession(challenge_id) {
	
	/*<![CDTATA[*/
	var member_id =/*[[${#authentication.principal.Username}]]*/'default';
	/*]]>*/
	
	Swal.fire({
		title: '탈퇴하시겠습니까?',
		icon: 'warning',

		showCancelButton: true, 		// cancel버튼 보이기. 기본은 원래 없음
		confirmButtonColor: '#3085d6', 	// confrim 버튼 색깔 지정
		cancelButtonColor: '#d33', 		// cancel 버튼 색깔 지정
		confirmButtonText: '탈퇴', 		// confirm 버튼 텍스트 지정
		cancelButtonText: '취소', 		// cancel 버튼 텍스트 지정

	}).then(result => {
		if (result.isConfirmed) {
			$.ajax({
				url: "/challenge/challenge-secession",
				method: "POST",
				async: false,
				data: {
					member_id: member_id,
					challenge_id: challenge_id,
				},
				success: function () {
					location.reload();
				},
				error: function (xhr, status, error) { // (파라미터 생략가능)
					alert("error");
				}
			})
		}
	})
}

</script>
</th:block>
</div>
</html>