<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<body>
	<div layout:fragment="content">
		<main id="main">

			<!-- ======= Breadcrumbs ======= -->
			<div class="breadcrumbs">
				<div class="page-header d-flex align-items-center"></div>
			</div>
			<!-- End Breadcrumbs -->

			<section class="sample-page register-padding-top-0">
				<div class="container" data-aos="fade-up"></div>
			</section>

			<!-- ======= Services Section ======= -->
			<section id="service" class="services pt-0">
				<div class="container" data-aos="fade-up">

					<div class="section-header">
						<!-- <span>회원 정보 수정</span> -->
						<h2>회원 정보 수정</h2>
					</div>
					<section id="contact" class="contact register-padding-top-10px">
						<div class="text-center">
							<div class="amend-div">
								<form action="" method="post" role="form" class="php-email-form">
									<div class="row">
										<div class="form-group mt-3">
											<div class="img-wrapper">
												<img alt="프로필 이미지" class="image--cover"
													th:src="|${'http://172.27.0.174:8080/viewFile?fname=' + user.profile_path + '/' + user.profile_uuid + '_' + user.profile_name}|">
											</div>
											<h3 th:text="${user.member_name}" style="margin-top: 20px;">김한솔</h3>
											<p th:text="${'(' + user.member_id + ')'}">(hansol)</p>
											<input type="hidden" th:value="${user.member_id}"
												name="member_id" id="member_id"> <input
												type="hidden" name="profile_name"
												th:value="${user.profile_name}" /> <input type="hidden"
												name="profile_uuid" th:value="${user.profile_uuid}" /> <input
												type="hidden" name="profile_path"
												th:value="${user.profile_path}" />
											<!-- <small>여</small> -->
										</div>
										<div class="form-group">
											<div class="filebox">
												<label for="ex_filename">프로필 편집</label> <input type="file"
													id="ex_filename" name="uploadFile" class="upload-hidden"
													accept=".gif, .jpg, .png" />
											</div>
										</div>
										<hr>

										<div class="form-group mt-3 row">
											<div class="col-3 register-label-style">
												<label class="login-label"> 비밀번호<small
													style="color: #5c7fdd;">*</small>
												</label>
											</div>
											<div class="col-9" style="text-align: left;">
												<button class="id-check change-pw" data-bs-toggle="modal"
													data-bs-target="#exampleModal">변경하기</button>
											</div>
										</div>

										<div class="form-group mt-3 row">
											<div class="col-3 register-label-style">
												<label class="login-label"> 전화번호<small
													style="color: #5c7fdd;">*</small>
												</label>
											</div>
											<div class="col-9">
												<input type="text" class="form-control" id="member-call"
													name="member_call" placeholder="숫자만 입력해주세요."
													th:value="${user.member_call}" required maxlength="13">
											</div>
										</div>

										<div class="form-group mt-3 row">
											<div class="register-label-style col-3">
												<label class="login-label">e-mail<small
													style="color: #5c7fdd;">*</small></label>
											</div>
											<div class="col-9">
												<input type="text" class="form-control" id="e-mail"
													name="e_mail" placeholder="예 : handa@hansol.com"
													th:value="${user.e_mail}" required>
												<p class="vaild-check" id="e-mail-check"></p>
											</div>

										</div>

										<div class="form-group mt-3 row">
											<div class="register-label-style col-3">
												<label class="login-label">회사<small
													style="color: #5c7fdd;">*</small></label>
											</div>
											<div class="col-9">
												<select class="form-select" name="affiliates_id"
													th:value="${user.affiliates_id}">
													<option value="1" th:selected="${user.affiliates_id}==1">한솔
														인티큐브</option>
													<option value="2" th:selected="${user.affiliates_id}==2">한솔
														제지</option>
													<option value="3" th:selected="${user.affiliates_id}==3">한솔
														테크닉스</option>
													<option value="4" th:selected="${user.affiliates_id}==4">한솔
														페이퍼택</option>
													<option value="5" th:selected="${user.affiliates_id}==5">한솔
														홀딩스</option>
													<option value="6" th:selected="${user.affiliates_id}==6">한솔
														문화재단</option>
													<option value="7" th:selected="${user.affiliates_id}==7">한솔
														케미칼</option>
													<option value="8" th:selected="${user.affiliates_id}==8">한솔
														홈데코</option>
													<option value="9" th:selected="${user.affiliates_id}==9">한솔
														코에버</option>
													<option value="10" th:selected="${user.affiliates_id}==10">한솔
														BS</option>
													<option value="11" th:selected="${user.affiliates_id}==11">한솔
														PNS</option>
													<option value="12" th:selected="${user.affiliates_id}==12">한솔
														로지스틱스</option>
												</select>
											</div>
										</div>

										<div class="form-group mt-3 row">
											<div class="register-label-style col-3">
												<label class="login-label">직급<small
													style="color: #5c7fdd;">*</small></label>
											</div>
											<div class="col-9">
												<select class="form-select" name="position_id"
													th:value="${user.position_id}">
													<option value="4" th:selected="${user.position_id}==0">팀장</option>
													<option value="1" th:selected="${user.position_id}==1">수석</option>
													<option value="2" th:selected="${user.position_id}==2">책임</option>
													<option value="3" th:selected="${user.position_id}==3">선임</option>
												</select>
											</div>
										</div>

									</div>
									<div class="text-center login-btn-div">
										<button type="submit">정보수정</button>
									</div>
								</form>
							</div>
							<!-- End Contact Form -->
						</div>
					</section>
				</div>
			</section>
			<!-- End Services Section -->
			<form action="" method="post" enctype="multipart/form-data"
				id="uploadForm"></form>
		</main>
		<!-- End #main -->

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog  modal-dialog-centered">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">비밀번호 변경</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<div class="modal-body">
						<input type="password" class="form-control" id="password"
							placeholder="변경할 비밀번호를 입력하세요." /> 
						<input type="password" id="password-check"
							class="form-control mt-2" placeholder="비밀번호를 한번 더 입력하세요." />
						<p class="check-password-input mt-2;" style="color: red; font-size: 14px; padding: 5px 10px;"></p>
					</div>

					<div class="modal-footer">
						<button type="button" id="" class="handa-outline-btn"
							data-bs-dismiss="modal" aria-label="Close">닫기</button>
						<button type="button" id="modal-btn"
							class="profile-btn handa-btn amend-pw-btn" data-toggle="modal">변경하기</button>
					</div>

				</div>
			</div>
		</div>
		<!-- Modal end -->
	</div>
</body>
<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src='@{/assets/js/member-amend.js}'></script>
<script>
$("#member-call").keyup(function(e) {
	const target = $(this)[0];
	// console.log(target);
	target.value = target.value
	   .replace(/[^0-9]/g, '')
	  .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
});

$("#e-mail").keyup(function(e) {
	const target = $(this);
	const regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	
	
	if (regExp.test(target.val())) {				
		$("#e-mail-check").text('올바른 이메일 형식입니다.');
		$("#e-mail-check").css('color', 'green');
	} else {
		$("#e-mail-check").text('이메일 형식이 올바르지 않습니다.');
		$("#e-mail-check").css('color', 'red');
	}
});
</script>
</th:block>
</html>