<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
<main id="main">

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
	<div class="page-header d-flex align-items-center">
		<div class="container position-relative">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6 text-center">
					<h2>Register</h2>
					<p>정보를 입력해 주세요</p>
				</div>
			</div>
		</div>
	</div>

	<nav>
		<div class="container">
			<ol>
				<li><a href="/">홈</a></li>
				<li>회원가입</li>
			</ol>
		</div>
	</nav>
</div>
<!-- End Breadcrumbs -->

<section class="sample-page register-padding-top-0">
	<div class="container" data-aos="fade-up"></div>
</section>

<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<h2>회원가입</h2>
				</div>
				<section id="contact" class="contact register-padding-top-30px">
					<div class="text-center">
						<div class="stepper-wrapper">
							<div class="stepper-item ">
								<div class="step-counter">
									<i class="fa-solid fa-pen"></i>
								</div>
								<div class="step-name">정보입력</div>
							</div>
							<div class="stepper-item">
								<div class="">></div>
							</div>
							<div class="stepper-item completed">
								<div class="step-counter">
									<i class="fa-solid fa-envelope"></i>
								</div>
								<div class="step-name">메일인증</div>
							</div>
						</div>
						<div class="register-div">
							<div class="line-div">
							</div>
							<div class="before-send register-btn-div">
								<th:block th:if="${msg == 'certify-success'}">
									<p>메일 인증이 완료되었습니다. 로그인 하여 한다 서비스를 이용하세요.</p>
									<a href="/member/login">로그인 하기</a>
								</th:block> 
								<th:block th:if="${msg == 'certify-fail'}">
									<p>메일 인증에 실패했습니다. 메일 인증을 다시 진행해주세요.</p>
								</th:block>
							</div>
						</div>
						<!-- End Contact Form -->
						<input type="hidden" th:value="${msg}" class="register-result" />
					</div>
				</section>
			</div>
		</section>
		<!-- End Services Section -->

</main>
<!-- End #main -->
</div>

<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	
$(document).ready(function(){
	
});
</script>
</th:block>

</html>