<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<title>내 정보</title>
	
	<!-- include CSS File -->
	<th:block layout:fragment="css">
		<!-- Handa Challenge CSS File -->
		<link th:href="@{/assets/css/member.css}" rel="stylesheet">
	</th:block>
</head>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="/">홈</a></li>
            			<li>아이디/비밀번호 찾기</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		<!-- ======= Services Section ======= -->
		<section id="service-details" class="service-details">
			<div class="container aos-init aos-animate" data-aos="fade-up">
				<div class="row gy-4 find-wrapper">
					<div class="col-lg-6 find-content">
						<!-- 마이페이지 메뉴 탭 -->
						<div class="find-tab">
							<a href="" data-type="find-id" class="find-tab-menu find-id-menu active">아이디 찾기</a> 
							<a href="" data-type="find-pw" class="find-tab-menu find-pw-menu">비밀번호 찾기</a>
						</div>
						<div class="find-id">
							<p>아이디를 잊으셨나요? 아래의 정보를 입력해주세요.</p>
							<input class="form-control" type="text" placeholder="이메일을 입력하세요">
							<button>아이디 찾기</button>
						</div>
						<div class="find-pw" style="display: none;">
							<p>비밀번호를 잊으셨나요? 아래의 정보를 입력해주세요.</p>
							<input class="form-control" type="text" placeholder="이메일을 입력하세요">
							<input class="form-control" type="text" placeholder="아이디를 입력하세요">
							<button>비밀번호 찾기</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 정보 수정 버튼 -->
			<div class="pricing-item text-center">
				<th:block sec:authorize="isAuthenticated()"> 
					<a th:href="@{/member/amend/} + ${#authentication.principal.Username}" class="mypage-btn align-items-center">정보 수정하기</a> 
				<th:block>
			</div>
			
			<!-- 정보 수정 결과 -->
			<input type="hidden" th:value="${msg}" class="amend-result"/>
			
		</section>
	</main>
	<!-- End #main -->
<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).ready(function(){
	$(".find-tab-menu").on("click", function (e) {
		 e.preventDefault();
		 
		 if ($(this).data('type') === "find-id") {
			$('.find-id').css('display', 'block'); 
			$('.find-pw').css('display', 'none');
			$('.find-id-menu').addClass('active');
			$('.find-pw-menu').removeClass('active');
		 }
		 
		 if ($(this).data('type') === "find-pw") {
				$('.find-id').css('display', 'none'); 
				$('.find-pw').css('display', 'block');
				$('.find-pw-menu').addClass('active');
				$('.find-id-menu').removeClass('active');
			 }
	});		
});
</script>
</th:block>
</div>
</html>