<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Login</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>

			<nav>
				<div class="container">
					<ol>
						<li><a href="/">홈</a></li>
						<li>로그인</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->

		<section class="sample-page" style="padding-top: 30px">
			<div class="container" data-aos="fade-up"></div>
		</section>

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<h2>로그인</h2>
				</div>
				<section id="contact" class="contact login-section">
					<div class="text-center">
						<div class="login-div">
							<form th:action="@{/login}" method="post" role="form" class="php-email-form">
								<div class="row">
									<div class="form-group mt-3 memberid-div"> 
										<input
											type="text" name="username" class="form-control"
											id="memberid" placeholder="아이디를 입력해주세요." th:value="${memberId}">
									</div>
									<div class="form-group mt-3"> 
										<input
											type="password" class="form-control" name="password"
											id="password" placeholder="비밀번호를 입력해주세요.">
									</div>
									<div class="form-group mt-3 row">
										<div class="col-6 remember-div">
											<input
											type="checkbox" class="form-control remember-me" id="remember" name="remember-me">
											<label for="remember">자동 로그인</label>
										</div>
										<div class="col-6 find-div">
											<a href="/member/find">아이디 찾기</a> |
											<a href="/member/find">비밀번호 찾기</a>
										</div>
									</div>
								</div>
								<div class="text-center member-join-div login-error">
								 	<p th:text="${error}"></p>
								</div>
								<div class="text-center login-btn-div">
									<button class="login-btn" type="submit">로그인</button>
									<button class="register-btn" type="button">회원가입</button>
								</div>
							</form>
						</div>

						<!-- End Contact Form -->
						<input type="hidden" th:value="${msg}" name="msg" />
					</div>
				</section>
			</div>

		</section>
		<!-- End Services Section -->

	</main>
	<!-- End #main -->
	
</div>
<!-- include JS Script -->
<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	$(".register-btn").on("click", function (e) {
	
	    e.preventDefault();
	    
	    location.href = "/member/register";
	    	    
	});
	$(".login-btn").on("click", function (e) {
				
		const memberId = $("#memberid");
        const password = $("#password");
        

        e.preventDefault();
        
        // console.log("버튼", memberId.val(), ", ", password.val())
        
        if (!memberId.val()) {
        	
        	$(".login-error p").text("아이디를 입력하세요.");
        	memberId.focus();
        	
        	return false;
        }
        
        if (!password.val()) {
        	
        	$(".login-error p").text("비밀번호를 입력하세요.");
        	password.focus();
        	
        	return false;
        }
        
        $(".php-email-form").submit();
        
    });
	
	$(document).ready(function(){
		if ($(".register-result").val() === "register-success") {			
			Swal.fire({
				  icon: 'success',
				  text: '가입이 완료되었습니다.'
				})
			}
		
		if ($('input[name=msg]').val() === "certify-success") {
			Swal.fire({
				  icon: 'success',
				  text: '인증이 완료되었습니다.'
				})
			}
		
		if ($('input[name=msg]').val() === "certify-fail") {
			Swal.fire({
				  icon: 'error',
				  text: '메일 인증에 실패했습니다. 다시 진행해주세요.'
				})
			}
		
	});
	</script>
</th:block>
</html>