<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center">
			</div>
		</div>
		<!-- End Breadcrumbs -->

		<section class="sample-page register-padding-top-0">
			<div class="container" data-aos="fade-up"></div>
		</section>

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<h2>회원가입</h2>
				</div>
				<section id="contact" class="contact register-padding-top-30px">
					<div class="text-center">
						<div class="stepper-wrapper">
							<div class="stepper-item">
								<div class="step-counter">
									<i class="fa-solid fa-pen"></i>
								</div>
								<div class="step-name">정보입력</div>
							</div>
							<div class="stepper-item">
								<div class="">></div>
							</div>
							<div class="stepper-item completed">
								<div class="step-counter">
									<i class="fa-solid fa-envelope"></i>
								</div>
								<div class="step-name">메일인증</div>
							</div>
						</div>
						<div class="register-div">
							<div class="line-div">
								
							</div>
							<br>
							<div class="before-send">
								<p>메일 인증을 진행하셔야 회원가입이 완료됩니다.</p>

								<p>가입 이메일: [[${#authentication.principal.user.e_mail}]]</p>
							</div>

							<!-- End Contact Form -->
							<input type="hidden" th:value="${msg}" class="register-result" />
						</div>
					</div>
				</section>
			</div>
		</section>
		<!-- End Services Section -->

	</main>
	<!-- End #main -->
</div>

<th:block layout:fragment="javascript">
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$(document).ready(function() {

		});
	</script>
</th:block>

</html>
