<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
<main id="main">

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
	<div class="page-header d-flex align-items-center">
		<div class="container position-relative">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6 text-center">
					<h2>Register</h2>
					<p>정보를 입력해 주세요</p>
				</div>
			</div>
		</div>
	</div>

	<nav>
		<div class="container">
			<ol>
				<li><a href="/">홈</a></li>
				<li>회원가입</li>
			</ol>
		</div>
	</nav>
</div>
<!-- End Breadcrumbs -->

<section class="sample-page register-padding-top-0">
	<div class="container" data-aos="fade-up"></div>
</section>

<!-- ======= Services Section ======= -->
<section id="service" class="services pt-0">
	<div class="container" data-aos="fade-up">

		<div class="section-header">
			<span>회원가입</span>
			<h2>회원가입</h2>
		</div>
		<section id="contact" class="contact register-padding-top-30px">
			<div class="text-center">
				<div class="login-div">
					<form action="" method="post" role="form" class="php-email-form">
						<div class="row">
							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>아이디</b></label>
								</div>
								<table class="register-width100">
									<tr>
										<td class="register-width100"><input type="text"
											name="member_id" class="form-control" id="memberid"
											placeholder="아이디" required></td>
										<td>
											<button class="btn btn-primary register-button-width id-check">중복확인</button>
										</td>
								</table>
							</div>
							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>비밀번호</b></label>
								</div>
								<input type="password" class="form-control" name="password"
									id="password" placeholder="비밀번호" required="">
							</div>
							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>비밀번호확인</b></label>
								</div>
								<input type="password" class="form-control"
									id="password-check" placeholder="비밀번호확인" required="">
							</div>

							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>이름</b></label>
								</div>
								<input type="text" class="form-control" id="member-name"
									name="member_name" placeholder="이름" required="">
							</div>

							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>전화번호</b></label>
								</div>
								<input type="text" class="form-control" id="member-call"
									name="member_call" placeholder="전화번호" required="">
							</div>
							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>e-mail</b></label>
								</div>
								<input type="text" class="form-control" id="e-mail"
									name="e_mail" placeholder="e-mail" required="">
							</div>
							<div class="form-group mt-3">
								<div class="register-label-style">
									<label class="login-label"><b>성별</b></label>
								</div>
								<div class="register-float-right">
									<button
										class="btn register-gender-button register-gender-button-active"
										type="button" data-gender="남">남</button>
									<button class="btn register-gender-button" type="button"
										data-gender="여">여</button>
									<input type="text" name="gender" value="남">
								</div>
							</div>
							<div class="form-group mt-3">
								<table class="register-width100">
									<tr>
										<td><label class="login-label register-label-style"><b>부서</b></label></td>
										<td><label class="login-label register-label-style"><b>직급</b></label></td>
									</tr>
									<tr>
										<td><select class="form-control handa-list-select"
											name="affiliates_id">
												<option value="1">한솔 인티큐브</option>
												<option value="2">한솔 제지</option>
												<option value="3">한솔 테크닉스</option>
												<option value="4">한솔 페이퍼택</option>
												<option value="5">한솔 홀딩스</option>
												<option value="6">한솔 문화재단</option>
												<option value="7">한솔 케미칼</option>
												<option value="8">한솔 홈데코</option>
												<option value="9">한솔 코에버</option>
												<option value="10">한솔 BS</option>
												<option value="11">한솔 PNS</option>
												<option value="12">한솔 로지스틱스</option>
										</select></td>
										<td><select class="form-control handa-list-select"
											name="position_id">
												<option value="1">수석</option>
												<option value="2">책임</option>
												<option value="3">선임</option>
										</select></td>
									</tr>
								</table>
							</div>
							<div class="form-group mt-3">
								<label class="login-label"><b>프로필 이미지</b></label>
							</div>
							<div class="form-group mt-3">
								<div class="filebox">
									<input class="upload-name" value="파일선택" disabled="disabled">

									<label for="ex_filename">업로드</label> <input type="file"
										id="ex_filename" class="upload-hidden">
								</div>
							</div>
							<div class="form-group mt-3">
								<label class="login-label"><b>미리보기 들어갈 공간</b></label>
							</div>

						</div>
						<div class="text-center login-btn-div">
							<button type="submit">회원가입</button>
						</div>
					</form>
				</div>
				<!-- End Contact Form -->
					<input type="hidden" th:value="${msg}" class="register-result"/>
			</div>
		</section>
	</div>
</section>
<!-- End Services Section -->

</main>
<!-- End #main -->
</div>

<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
	
	$(document).ready(function(){
		// console.log($('#memberid').val());
			let idCheckConfirm = false;
		
	$(".id-check").on("click", function (e) {
		
	        
	        e.preventDefault();
	        
	        // console.log("버튼 쿨릭 테스트")
	        
	        const memberId = $('#memberid').val();
	        
	        if (memberId == "") {
				Swal.fire({
					  icon: 'error',
					  text: '아이디를 입력하세요.'
				})
				return;
	        }
	        
		$.ajax({
			type: 'post',
			url: "/member/idcheck",
			data: { 'member_id': memberId },
			success: function (data) {
				// 0 : 가입 가능, 1 : 가입 불가 (중복 O)
				if (data === 1) {
					Swal.fire({
						  icon: 'error',
						  text: '이미 존재하는 아이디입니다.'
					})
					$('#memberid').val("");
					
					idCheckConfirm = false;
				}
			
				if (data === 0) {
					Swal.fire({
						  icon: 'success',
						  text: '사용할 수 있는 아이디입니다.'
					})
					
					idCheckConfirm = true;
				}
			}
		});
	});
		
		
	if ($(".register-result").val() === "register-fail") {			
		Swal.fire({
			  icon: 'error',
			  text: '가입을 다시 진행해주세요.'
		})
	}
	
	$(".login-btn-div button").on("click", function (e) {
        

        e.preventDefault();
        
        // console.log("버튼 쿨릭 테스트")
        
        $(".php-email-form").attr("action", "/member/register");
        
		
    	if (idCheckConfirm === false) {
    		// console.log("아이디 중복 미체크");
    		Swal.fire({
				  icon: 'error',
				  text: '아이디 중복확인을 해주세요.'
			})
    		return;	
    	}
    	
        $(".php-email-form").submit();
    });
	

		
});
</script>
</th:block>

</html>