<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansol.handa.mapper.ChallengeMapper">

	<!-- 참여인원 순 리스트 조회 resultMap -->
	<resultMap id="joinVO" type="JoinVO">
		<result column="count" property="count"></result>
	</resultMap>

	<resultMap id="challengeMap" type="ChallengeVO">
		<result column="challenge_id" property="challenge_id"></result>
		<result column="challenge_name" property="challenge_name"></result>
		<result column="thumbnail" property="thumbnail"></result>
		<result column="startdate" property="startdate"></result>
		<result column="enddate" property="enddate"></result>
		<result column="createdate" property="createdate"></result>
		<result column="member_id" property="member_id"></result>
		<result column="subcategory_id" property="subcategory_id"></result>
		<result column="challenge_type" property="challenge_type"></result>
		<result column="sub_category_name" property="subcategory_name"></result>
		<collection property="joinVO" resultMap="joinVO" />
	</resultMap>
	
	<!-- 전체 챌린지 리스트 조회 -->
	<select id="selectChallengeList" parameterType="hashmap" resultMap="challengeMap">

		SELECT challenge.challenge_id, challenge_name, thumbnail, startdate, enddate, 
				createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name
		from challenge, sub_category, (SELECT challenge.challenge_id, COUNT(*) as count  
										from challenge, challenge_join
										WHERE challenge.challenge_id = challenge_join.challenge_id
										GROUP BY challenge.challenge_id) count_table
		WHERE challenge.subcategory_id = sub_category.sub_category_id AND challenge.challenge_id = count_table.challenge_id
			<!-- <if test = "searchWord != 'search'"> AND challenge_name like CONCAT('%', #{searchWord}, '%')</if> -->
			<if test = "searchWord != null"> AND challenge_name like CONCAT('%', #{searchWord}, '%')</if>
			<choose>
				<when test="challenge_type == 1">AND challenge_type = "무료"</when>
				<when test="challenge_type == 2">AND challenge_type = "유료"</when>
			</choose>
			<if test="challenge_state != 1">AND startdate > NOW()</if>
	
			<choose>
				<!-- 최신순 -->
				<when test="sortType == 0">	
					<if test="createdate != '0000-00-00 00:00:00'"><![CDATA[ AND createdate < #{createdate} ]]></if>
					GROUP BY challenge.challenge_id order by createdate DESC LIMIT 12;
				</when>
				<!-- 오래된순 -->
				<when test="sortType == 1">
					<if test="createdate != '0000-00-00 00:00:00'"> AND createdate > #{createdate}</if>
					GROUP BY challenge.challenge_id order by createdate ASC LIMIT 12;
				</when>
				<!-- 참여인원 순 -->
				<when test="sortType == 2"> 
					<if test="count != 0"><![CDATA[ AND if(#{count} = '1', count < 2 and createdate < #{createdate}, count < #{count} and createdate < #{createdate})]]></if>
					GROUP BY challenge.challenge_id order by count desc, createdate DESC LIMIT 12;
				</when>
			</choose>
	</select>
	
	<!-- 카테고리 별 리스트 조회 -->
	<select id="selectChallegeListCategory" parameterType="hashmap" resultMap="challengeMap">
		SELECT challenge.challenge_id, challenge_name, thumbnail, startdate, enddate, 
				createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name
		from challenge, sub_category, (SELECT challenge.challenge_id, COUNT(*) as count  
										from challenge, challenge_join
										WHERE challenge.challenge_id = challenge_join.challenge_id
										GROUP BY challenge.challenge_id) count_table
		WHERE challenge.subcategory_id = sub_category.sub_category_id AND challenge.challenge_id = count_table.challenge_id AND subcategory_id = #{subcategory_id}
			<if test = "searchWord != 'search'"> AND challenge_name like CONCAT('%', #{searchWord}, '%')</if>
			<choose>
				<when test="challenge_type == 1">AND challenge_type = "무료"</when>
				<when test="challenge_type == 2">AND challenge_type = "유료"</when>
			</choose>
			<if test="challenge_state != 1">AND startdate > NOW()</if>
			
			<choose>
				<!-- 최신순 -->
				<when test="sortType == 0">
					<if test="createdate != '0000-00-00 00:00:00'"><![CDATA[ AND createdate < #{createdate} ]]></if>
					GROUP BY challenge.challenge_id order by createdate DESC LIMIT 12;
				</when>
				<!-- 오래된순 -->
				<when test="sortType == 1">
					<if test="createdate != '0000-00-00 00:00:00'"> AND createdate > #{createdate}</if>
					GROUP BY challenge.challenge_id order by createdate ASC LIMIT 12;
				</when>
				<!-- 참여인원 순 -->
				<when test="sortType == 2"> 
					<if test="count != 0"><![CDATA[ AND if(#{count} = '1', count < 2 and createdate < #{createdate}, count < #{count} and createdate < #{createdate})]]></if>
					GROUP BY challenge.challenge_id order by count desc, createdate DESC LIMIT 12;
				</when>
			</choose>
	</select>
	 
	<!-- 대 카테고리 별 조회 -->
	<select id="selectChallegeListMainCategory" parameterType="hashmap" resultMap="challengeMap">
		SELECT challenge.challenge_id, challenge_name, thumbnail, startdate, enddate, 
				createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name
		from challenge, sub_category, main_category, (SELECT challenge.challenge_id, COUNT(*) as count  
										from challenge, challenge_join
										WHERE challenge.challenge_id = challenge_join.challenge_id
										GROUP BY challenge.challenge_id) count_table
		WHERE challenge.subcategory_id = sub_category.sub_category_id AND challenge.challenge_id = count_table.challenge_id AND sub_category.main_category_id = main_category.main_category_id
			<choose>
				<when test="category_id == 8"> AND main_category_name = '취미'</when>
				<when test="category_id == 9"> AND main_category_name = '자기계발'</when>
			</choose>
			<if test = "searchWord != 'search'"> AND challenge_name like CONCAT('%', #{searchWord}, '%')</if>
			<choose>
				<when test="challenge_type == 1">AND challenge_type = "무료"</when>
				<when test="challenge_type == 2">AND challenge_type = "유료"</when>
			</choose>
			<if test="challenge_state != 1">AND startdate > NOW()</if>
			
			<choose>
				<!-- 최신순 -->
				<when test="sortType == 0">
					<if test="createdate != '0000-00-00 00:00:00'"><![CDATA[ AND createdate < #{createdate} ]]></if>
					GROUP BY challenge.challenge_id order by createdate DESC LIMIT 12;
				</when>
				<!-- 오래된순 -->
				<when test="sortType == 1">
					<if test="createdate != '0000-00-00 00:00:00'"> AND createdate > #{createdate}</if>
					GROUP BY challenge.challenge_id order by createdate ASC LIMIT 12;
				</when>
				<!-- 참여인원 순 -->
				<when test="sortType == 2"> 
					<if test="count != 0"><![CDATA[ AND if(#{count} = '1', count < 2 and createdate < #{createdate}, count < #{count} and createdate < #{createdate})]]></if>
					GROUP BY challenge.challenge_id order by count desc, createdate DESC LIMIT 12;
				</when>
			</choose>
	</select>
	
	<!-- 카테고리 이름 조회 -->
	<select id="selectCategoryName" parameterType="int" resultType="map">
		select sub_category.sub_category_name, main_category.main_category_name FROM sub_category, main_category 
			WHERE sub_category_id = #{subcategory_id} AND sub_category.main_category_id = main_category.main_category_id;
	</select>
	
	<!-- 챌린지 개수 조회 -->
	<select id="selectCount" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) AS count
		FROM challenge
		<if test="main_category_id != null">, sub_category, main_category</if>
		<if test="sub_category_id != null or searchWord != 'search' or challengeType != 0 or main_category_id != null">WHERE 1=1</if> 
		<if test = "main_category_id != null">and challenge.subcategory_id = sub_category.sub_category_id 
			AND sub_category.main_category_id = main_category.main_category_id </if>
		<if test="sub_category_id != null">and subcategory_id = #{sub_category_id}</if>
		<choose>
			<when test="main_category_id == 8">AND main_category_name = "취미" </when>
			<when test="main_category_id == 9">AND main_category_name = "자기계발" </when>
		</choose>
		<if test="searchWord != 'search'">and challenge_name like CONCAT('%', #{searchWord}, '%')</if>
		<choose>
			<when test="challengeType == 1">AND challenge_type = "무료"</when>
			<when test="challengeType == 2">AND challenge_type = "유료"</when>
		</choose>
		<if test="challenge_state != 1">AND startdate > NOW()</if>
 	</select>
 	
 	<!-- 메인 페이지 인기 챌린지 조회 -->
 	<select id="selectPopular" resultMap="challengeMap">
 		SELECT challenge.challenge_id, challenge_name, thumbnail, startdate, enddate,  
			createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name   
		from challenge, sub_category, (SELECT challenge.challenge_id, COUNT(*) as count  
										from challenge, challenge_join
										WHERE challenge.challenge_id = challenge_join.challenge_id
										GROUP BY challenge.challenge_id) count_table
		WHERE challenge.subcategory_id = sub_category.sub_category_id AND challenge.challenge_id = count_table.challenge_id AND enddate >= NOW()
			GROUP BY challenge.challenge_id order by COUNT desc, challenge.createdate desc LIMIT 8;
 	</select>
	
	<!-- 메인 페이지 유료 챌린지 조회 -->
	<select id="selectCost" resultMap="challengeMap">
		SELECT challenge.challenge_id, challenge_name, thumbnail, startdate, enddate,  
			createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name   
		from challenge, sub_category, (SELECT challenge.challenge_id, COUNT(*) as count  
										from challenge, challenge_join
										WHERE challenge.challenge_id = challenge_join.challenge_id
										GROUP BY challenge.challenge_id) count_table
		WHERE challenge.subcategory_id = sub_category.sub_category_id AND challenge.challenge_id = count_table.challenge_id and challenge_type = "유료" AND enddate >= NOW()
			GROUP BY challenge.challenge_id order by challenge.createdate desc LIMIT 6;
	</select>
	
	<insert id="createChallenge" parameterType="ChallengeVO"
		useGeneratedKeys="true" keyProperty="challenge_id">
		insert into
		challenge(challenge_name,thumbnail,startdate,enddate,description,member_id,subcategory_id,challenge_type,createdate,challenge_cost)
		values
		(#{challenge_name},IFNULL(#{thumbnail},NULL),IFNULL(#{startdate},NULL),IFNULL(#{enddate},NULL),IFNULL(#{description},NULL),#{member_id},#{subcategory_id},#{challenge_type},now(),#{challenge_cost})
	</insert>

	<select id="getChallenge" resultType="ChallengeVO">
		select * from challenge
		where challenge_id=#{challenge_id}
	</select>

	<insert id="joinChallenge">
		insert into challenge_join (challenge_id,member_id,join_date)
		values(#{challenge_id},#{member_id},now())
	</insert>

	<update id="updateChallenge" parameterType="ChallengeVO">
		update challenge
		set challenge_name=IFNULL(#{challenge_name},challenge_name),
		thumbnail=IFNULL(#{thumbnail},thumbnail),
		startdate=IFNULL(#{startdate},startdate),
		enddate=IFNULL(#{enddate},enddate),
		description=IFNULL(#{description},description),
		challenge_type=IFNULL(#{challenge_type},challenge_type),
		challenge_cost=IFNULL(#{challenge_cost},challenge_cost),
		limit_member=IFNULL(#{limit_member},limit_member)
		where
		challenge_id=#{challenge_id} and member_id=#{member_id}
	</update>

	<delete id="deleteChallenge" parameterType="ChallengeVO">
		delete from challenge
		where challenge_id=#{challenge_id} and member_id=#{member_id}
	</delete>

	<delete id="secessionChallenge" parameterType="ChallengeVO">
		delete from
		challenge_join where challenge_id=#{challenge_id} and
		member_id=#{member_id}
	</delete>

	<select id="detailChallenge" parameterType="ChallengeVO" resultType="ChallengeVO">
		SELECT *,COUNT(*) AS COUNT FROM challenge a, challenge_join b
		WHERE b.challenge_id=#{challenge_id} AND a.challenge_id=b.challenge_id
		GROUP BY a.challenge_id
	</select>
</mapper>