<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansol.handa.mapper.MypageMapper">

	<!-- 챌린지 조회 resultMap -->
	<resultMap id="joinVO" type="JoinVO">
		<result column="count" property="count"></result>
	</resultMap>

	<resultMap id="challengeMap" type="ChallengeVO">
		<result column="challenge_id" property="challenge_id"></result>
		<result column="challenge_name" property="challenge_name"></result>
		<result column="thumbnail" property="thumbnail"></result>
		<result column="startdate" property="startdate"></result>
		<result column="enddate" property="enddate"></result>
		<result column="createdate" property="createdate"></result>
		<result column="member_id" property="member_id"></result>
		<result column="subcategory_id" property="subcategory_id"></result>
		<result column="challenge_type" property="challenge_type"></result>
		<result column="limit_member" property="limit_member"></result>
		<result column="sub_category_name" property="subcategory_name"></result>
		<result column="main_category_name" property="maincategory_name"></result>
		<collection property="joinVO" resultMap="joinVO" />
	</resultMap>
	
	<!-- 마이페이지 내 정보 조회 -->
	<select id="selectMemberInfo" parameterType="String" resultType="UserVO">
		SELECT member_id, member_name, e_mail, profile_path, profile_uuid, profile_name, affiliates_name, position_name
		FROM member, position, affiliates
		WHERE member.affiliates_id = affiliates.affiliates_id AND member.position_id = position.position_id AND member.member_id = #{member_id};
	</select>

	<!-- 생성 챌린지 개수 조회 -->
	<select id="selectProduceCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) AS COUNT
		FROM challenge
		WHERE member_id = #{member_id};
	</select>
	
	<!-- 참여 챌린지 개수 조회 -->
	<select id="selectPartCount" parameterType="String" resultType="Integer">
		SELECT COUNT(*) AS COUNT
		FROM challenge, challenge_join
		WHERE challenge.challenge_id = challenge_join.challenge_id and challenge_join.member_id = #{member_id} 
			AND challenge.member_id != #{member_id};
	</select>
	
	<!-- 마이페이지 생성 챌린지 조회 -->
	<select id="selectProdece" parameterType="hashmap" resultMap="challengeMap">
		SELECT challenge.challenge_id, challenge_name, startdate, enddate,  
			createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name, main_category_name, limit_member <if test="mypage == false">, thumbnail</if>    
		from challenge, sub_category, main_category, (SELECT challenge.challenge_id, COUNT(*) as count  
													from challenge, challenge_join
													WHERE challenge.challenge_id = challenge_join.challenge_id
													GROUP BY challenge.challenge_id) count_table
		WHERE challenge.challenge_id = count_table.challenge_id AND challenge.subcategory_id = sub_category.sub_category_id AND member_id = #{member_id} AND sub_category.main_category_id = main_category.main_category_id
		GROUP BY challenge.challenge_id order by createdate DESC <if test="mypage == true">LIMIT 3</if>;
	</select>
	
	<!-- 마이페이지 참여 챌린지 조회 -->
	<select id="selectPart" parameterType="hashmap" resultMap="challengeMap">
		SELECT challenge.challenge_id, challenge_name, startdate, enddate,  
			createdate, challenge.member_id, subcategory_id, challenge_type, count, sub_category_name, main_category_name, limit_member <if test="mypage == false">, thumbnail</if>
		from challenge, sub_category, main_category, (SELECT challenge.challenge_id, COUNT(*) as COUNT
													from challenge, challenge_join
													WHERE challenge.challenge_id = challenge_join.challenge_id
													GROUP BY challenge.challenge_id) count_table,
												(SELECT challenge.challenge_id
													FROM challenge, challenge_join
													where challenge.challenge_id = challenge_join.challenge_id AND challenge_join.member_id = #{member_id}) AS join_table
		WHERE challenge.challenge_id = count_table.challenge_id AND challenge.subcategory_id = sub_category.sub_category_id AND challenge.challenge_id = join_table.challenge_id AND member_id != #{member_id} AND sub_category.main_category_id = main_category.main_category_id																	
		GROUP BY challenge.challenge_id order by createdate DESC <if test="mypage == true">LIMIT 3</if>;
	</select>
</mapper>