<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hansol.handa.mapper.UserMapper">
	
	<!-- 회원 정보 조회 -->
	<select id="read" resultType="UserVO">
		select * from member where member_id = #{username}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="register">
		INSERT INTO member 
			(member_id, password, member_name, member_call, 
			e_mail, gender, affiliates_id, position_id, certify_token)
		VALUES
			(#{member_id}, #{password},#{member_name}, #{member_call},
			#{e_mail}, #{gender}, #{affiliates_id}, #{position_id}, #{certify_token})
	</insert>
	
	<!-- 회원 정보 수정 -->
	<update id="update">
		UPDATE 
			member 
		SET
			member_call = #{member_call},
			e_mail = #{e_mail},
			affiliates_id= #{affiliates_id},
			position_id= #{position_id},
			profile_name = #{profile_name},
			profile_uuid = #{profile_uuid},
			profile_path = #{profile_path}
		WHERE 
			member_id = #{member_id}
	</update>
	
	<!-- 회원 권한 변경 -->
	<update id="updateAuth">
		UPDATE 
			member 
		SET
			auth = #{auth}
		WHERE 
			member_id = #{member_id}
	</update>
	
	<!-- 챌린지 참여 인원 조회 -->
	<select id="joinMembers" resultType="UserVO">
		SELECT member.* FROM member, challenge_join 
		WHERE member.member_id = challenge_join.member_id and challenge_join.challenge_id=#{challenge_id}
		ORDER BY challenge_join.join_date ASC
	</select>
	
	<!-- 메일 인증 토큰 값 업데이트 -->
	<update id="updateToken">
		UPDATE 
			member 
		SET
			certify_token = #{certify_token}
		WHERE 
			member_id = #{member_id}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="findID" resultType="UserVO">
		select 
			replace(member_id,substring(member_id,2,2),'**') member_id, 
			member_name,
			e_mail, 
			createdate
		from member where member_name = #{member_name} and e_mail = #{e_mail} 
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPW" resultType="UserVO">
		select * from member where member_id = #{member_id} and e_mail = #{e_mail} 
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePW">
		UPDATE 
			member 
		SET
			password = #{password}
		WHERE 
			member_id = #{member_id}
	</update>
	
</mapper>