<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Challenge List</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="/">홈</a></li>
						<li>챌린지 생성</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		<section class="sample-page" style="padding-top:20px">
			<div class="container" data-aos="fade-up"></div>
		</section>
		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<span>챌린지 생성</span>
					<h2>챌린지 생성</h2>
				</div>
				<section id="get-a-quote" class="get-a-quote">
					<div class="container aos-init aos-animate" data-aos="fade-up">
						<div class="row g-0">
							<div class="">
								<form action="forms/quote.php" method="post" class="php-email-form">
									<div class="row gy-4">
										<div class="col-md-6">
											<label>
												<h3>이름</h3>
											</label> <input type="text" name="departure" class="form-control "
												placeholder="이름" required="">
										</div>
										<div class="col-md-6">
											<label for="main-category">
												<h3>Thumbnail</h3>
											</label>
											<br>
											<div
												style="width:100px; height:100px; background-color: white; display:none;">
											</div>
											<div style="display: inline-block; height: 100px; vertical-align: top;">
												<button type="button" id="modal-btn" class="btn btn-primary"
													data-toggle="modal" data-target="#exampleModal"
													style="width:120px;">이미지
													검색</button>
											</div>
										</div>

										<div class="col-md-6">
											<label for="main-category">
												<h3>카테고리 (대)</h3>
											</label> <select class="form-control main-category" id="main-category">
												<option>취미</option>
												<option>자기계발</option>
											</select>
										</div>
										<div class="col-md-6">
											<label for="main-category">
												<h3>카테고리 (소)</h3>
											</label> <select class="form-control main-category" id="main-category">
												<option>영화</option>
												<option>모임</option>
												<option>등산</option>
											</select>
										</div>
										<div class="col-md-6">
											<label for="main-category">
												<h3>시작날짜</h3>
											</label> <input type="date" name="startdate" class="form-control"
												placeholder="시작날짜" required="">
										</div>
										<div class="col-md-6">
											<label for="main-category">
												<h3>종료날짜</h3>
											</label> <input type="date" class="form-control" name="enddate"
												placeholder="종료날짜" required="">
										</div>


										<div class="modal">
											<div class="modal_body">
												<div style="text-align: right;">
													<button type="button" class="btn-close" aria-label="Close"
														id="modal-close"></button>
												</div>
												<div style="padding:5px 30px 30px 30px">
													<label for="main-category">
														<h3>이미지 검색</h3>
													</label>
												</div>
												<div class="input-group mb-3" style="padding:0px 30% 30px 30%">
													<input type="text" class="form-control" placeholder="검색어를 입력해주세요"
														aria-label="검색어를 입력해주세요" aria-describedby="basic-addon2"
														id="search-word">
													<div class="input-group-append">
														<button class="btn btn-primary" type="button"
															style="height: 50px;" id="image-search-btn">검색</button>
													</div>
												</div>
												<div>
													이미지 들어갈 곳
												</div>
											</div>

										</div>

										<div class="col-md-12">
											<label>
												<h3>설명</h3>
											</label>
											<div id="editor">
											</div>

										</div>

										<div class="col-md-12 text-center create-challenge">
											<button type="button" class="btn btn-primary">챌린지 생성</button>
										</div>
									</div>
								</form>
							</div>
							<!-- End Quote Form -->
						</div>
					</div>
				</section>
			</div>
		</section>
		<!-- End Services Section -->
	</main>
	<!-- End #main -->
</div>
<th:block layout:fragment="javascript">
	<script src="build/ckeditor.js"></script>
	<script>
		ClassicEditor
			.create(document.querySelector('#editor'))
			.catch(error => {
				console.error(error);
			});
		const body = document.querySelector('body');
		const modal = document.querySelector('.modal');
		const btnOpenPopup = document.getElementById('modal-btn');
		const closeBtn = document.getElementById('modal-close')

		btnOpenPopup.addEventListener('click', () => {
			modal.classList.toggle('show');
		});

		closeBtn.addEventListener('click', () => {
			modal.classList.toggle('show');
		});

		$('#image-search-btn').click(function () {
			var word = $('#search-word').val();
			console.log(word);
			$.ajax({ // ajax 기본형태
				//////////////////// send(가는것)
				url: "https://dapi.kakao.com/v2/search/image?query="+word,
				type: "GET",
				headers:{'Authorization':'KakaoAK 58ed99abf99f1f7fe96b1231ca5eb36e'},
				
				//////////////////// recv
				success: function (data) { // status, xhr 생략가능 
					console.log(data);
				},
				error: function (xhr, status, error) { // (파라미터 생략가능)
					alert("error");
				},
				complete: function (xhr, status) { // (파라미터 생략가능)
					alert("통신종료");
				}
				////////////////////
			});
		});
	</script>
</th:block>

</html>