<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center">

			</div>

		</div>
		<!-- End Breadcrumbs -->
		<section class="sample-page" style="padding-top:20px">
			<div class="container" data-aos="fade-up"></div>
		</section>
		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<!-- <span>챌린지 생성</span> -->
					<h2>챌린지 생성</h2>
				</div>
				<section id="contact" class="contact">
					<div class="container aos-init aos-animate" data-aos="fade-up" id="show_modal">
						<div class="row g-0">
							<form action="/challenge" method="post" class="php-email-form" id="challenge_create"
								style="background:white;">
								<div class="row gy-4">
									<div class="col-md-6" style="padding-top:19px">
										<label for="main-category">
											<label class="create-label">Thumbnail</label>
										</label>
										<br>
										<div
											style="display: inline-block; height: 100%; vertical-align: top; width:100%">
											<button type="button" id="modal-btn" class="profile-btn"
												data-toggle="modal"><img name="thumbnail" id="profile-img"
													class="defaultimg" src="../assets/img/defaultImg.png">
												<img class="searchimg" src="../assets/img/searchimg.png">
											</button>
										</div>
									</div>
									<div class="col-md-6" style="padding-top: 20px">
										<div class="form-group mt-5 row">
											<div class="col-2 register-label-style">
												<label class="create-label">챌린지 이름</label>
											</div>
											<div class="col-10">
												<input type="text" name="challenge_name" class="form-control "
													placeholder="챌린지 이름" maxlength="12" lrequired="">
											</div>
										</div>

										<div class="form-group mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">카테고리</label>
											</div>
											<div class="col-5">
												<select class="main-category form-select" id="main-category">
													<option>카테고리(대)</option>
													<option name="main_1">취미</option>
													<option name="main_2">자기계발</option>
												</select>
											</div>
											<div class="col-5">
												<select class="form-select main-category" id="sub-category"
													name="sub-category">
													<option>카테고리(소)</option>
												</select>
											</div>
										</div>

										<div class="form-group mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">기간</label>
											</div>
											<div class="col-5">
												<input type="text" name="startdate" class="form-control"
													placeholder="시작날짜" required="" autocomplete='off'>
											</div>

											<div class="col-5">
												<input type="text" class="form-control" name="enddate"
													placeholder="종료날짜" required="" autocomplete='off'>
											</div>
										</div>



										<div class="form-group mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">유형</label>
											</div>
											<div class="col-5" style="display: flex;">
												<select class="form-select main-category" name="challenge_type"
													id="challenge_type">
													<option value="무료">무료</option>
													<option value="유료">유료</option>
												</select>
											</div>
											<div class="col-5">
												<input type="text" maxlength="10"
													onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"
													name="challenge_cost" class="form-control" id="challenge_cost"
													placeholder="금액을 입력해주세요" disabled>
												</input>
											</div>
										</div>

										<div class="form-group mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">모집 인원</label>
											</div>
											<div class="col-5">
												<input type="number" min="2" max="15" maxlength="2" class="form-control"
													id="limit_member" placeholder="참여 제한 인원" oninput="maxLengthCheck(this)">
												</input>
											</div>
										</div>
									</div>
								</div>
								
								<div class="modal">
									<div id="modal_body" class="check">
										<div style="text-align: right;" class="check">
											<button type="button" class="btn-close" aria-label="Close"
												id="modal-close" style="padding:1.25em 1.25em"></button>
										</div>
										<div style="padding:5px 30px 30px 30px" class="check">
											<label for="main-category">
												<h3>이미지 검색</h3>
											</label>
										</div>
										<div class="input-group mb-3" style="padding:0px 30% 30px 30%">
											<input type="text" class="form-control" placeholder="검색어를 입력해주세요"
												aria-label="검색어를 입력해주세요" aria-describedby="basic-addon2"
												id="search-word">
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" style="height: 50px;"
													id="image-search-btn">검색</button>
											</div>
										</div>
										<div id="img-list">

										</div>
									</div>
								</div>

								<div class="col-md-12">
									<label class="create-label">설명</label>
									<div>
										<textarea id="editor" name></textarea>
									</div>
								</div>

								<div class="col-md-12 text-center create-challenge">
									<button type="button" id="create-challenge" class="handa-btn" style="width:15%">챌린지
										생성</button>
								</div>
								<input type="hidden" class="form-control price" name="member_id"
									th:value='${#authentication.principal.Username}' readonly>
						</div>
						</form>
					</div>
					<!-- End Quote Form -->
			</div>
</div>
</section>
</div>
</section>
<!-- End Services Section -->
</main>
<!-- End #main -->
</div>
<th:block layout:fragment="javascript">
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="build/ckeditor.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
	<script>
		let editor;
		ClassicEditor
			.create(document.querySelector('#editor'))
			.then(newEditor => {
				editor = newEditor;
			})
			.catch(error => {
				console.error(error);
			});

		$.datepicker.setDefaults({
			dateFormat: 'yymmdd',
			prevText: '이전 달',
			nextText: '다음 달',
			monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
			monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
			dayNames: ['일', '월', '화', '수', '목', '금', '토'],
			dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
			dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
			showMonthAfterYear: true,
			yearSuffix: '년'
		});


		$("input[name=startdate]").datepicker({
			dateFormat: 'yy-mm-dd'
		});

		$("input[name=enddate]").datepicker({
			dateFormat: 'yy-mm-dd'
		});


		var today = new Date();
		var year = today.getFullYear();
		var month = ('0' + (today.getMonth() + 1)).slice(-2);
		var day = ('0' + today.getDate()).slice(-2);
		var todaydate = year + '-' + month + '-' + day;


		$("#modal-btn").hover(function () {
			$(".searchimg").css("display", "block")
			$(".defaultimg").css("opacity", "0.6")
			$(".profile-img").css("opacity", "0.6")
		}, function () {
			$(".searchimg").css("display", "none")
			$(".defaultimg").css("opacity", "1")
			$(".profile-img").css("opacity", "1")
		})


		$("#challenge_type").change(function () {
			if ($(this).val() == "유료") {
				Swal.fire({
					title: '유료챌린지',
					text: "유료챌린지는 삭제와 탈퇴가 불가능합니다.",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '확인',
					cancelButtonText: "취소"
				}).then((result) => {
					if (result.isConfirmed) {
						$("input[name=challenge_cost]").prop("disabled", false)
					}
					else {
						$(this).val("무료")
						$("input[name=challenge_cost]").prop("disabled", true)
						$("input[name=challenge_cost]").val("")
					}
				})
			} else {
				$("input[name=challenge_cost]").prop("disabled", true)
				$("input[name=challenge_cost]").val("")
			}
		})

		$('#modal-btn').click(function () {
			$('.modal').toggleClass('show')
		});
		$('#modal-close').click(function () {
			$('.modal').toggleClass('show')
		});

		var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/;
		var searchEvent = function () {
			$('#img-list').empty();
			if ($('#search-word').val().length > 0 && $.trim($('#search-word').val()) != '' && !(pattern_spc.test($('#search-word').val()))) {
				$.ajax({ // ajax 기본형태
					//////////////////// send(가는것)
					url: "http://localhost:8080/imagelist/" + $('#search-word').val(),
					method: "GET",
					//////////////////// recv
					success: function (data) { // status, xhr 생략가능
						if (data.length != 0) {
							for (var i = 0; i < data.length; i++) {
								$('#img-list').append(
									`<button type="button" class="img-btn">
								<img class="img-lists" src="`+ data[i] + `"></button>`
								)
							}
						} else {
							Swal.fire({
								icon: 'error',
								text: '검색결과가 없어요.'
							})
						}
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				});
			} else {
				Swal.fire({
					icon: 'error',
					text: '공백과 특수문자를 제외한 검색어를 입력해주세요',
					allowEnterKey: false
				})
			}
		}
		$('#search-word').keydown(function (key) {
			if (key.keyCode == 13) {
				searchEvent();
			}
		});
		$('#image-search-btn').click(function () {
			searchEvent();
		});

		$(document).on("click", ".img-btn", function () {
			var ch = $(this).find('.img-lists').attr("src")
			$('.modal').toggleClass('show');
			$('#img-list').empty();
			$('#search-word').val("");
			$('#profile-img').attr("src", ch);
			$("#profile-img").removeClass("defaultimg");
			$("#profile-img").addClass("profile-img");
		});



		$("#main-category").change(function () {
			var main = $("#main-category").val();
			if (main == "취미") {
				$("#sub-category").empty();
				$("#sub-category").append
					(`<option>카테고리(소)</option>
					<option value=1>영화</option>
					<option value=2>모임</option>
					<option value=3>등산</option>`)
			} else if (main == "자기계발") {
				$("#sub-category").empty();
				$("#sub-category").append
					(`<option value="카테코리(소)">카테고리(소)</option>
					<option value=4>독서</option>
					<option value=5>자격증</option>
					<option value=6>외국어</option>
					<option value=7>운동</option>`)
			}
		})

		function maxLengthCheck(object) {
			if (object.value.length > object.maxLength) {
				object.value = object.value.slice(0, object.maxLength);
			}
		}

		$('#create-challenge').click(function () {
			var select_sub = $("#sub-category").val();
			var startdate = $("input[name=startdate]").val()
			var enddate = $("input[name=enddate]").val()
			var dateRegexp = /[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])/;

			if ($("input[name=challenge_name]").val().length <= 0 || $.trim($("input[name=challenge_name]").val()) == '' || $("input[name=challenge_name]").val().length > 12) {
				$("input[name=challenge_name]").focus()
				Swal.fire({
					icon: 'warning',
					text: '제목은 공백, 특수문자 제외 12자입니다.',
				})

			} else if ($("#limit_member").val() < 2 || $("#limit_member").val() > 15) {
				Swal.fire({
					icon: 'warning',
					text: '참여인원은 2명부터 최대 15명까지 가능합니다.'
				})
			} else if ($("#profile-img").attr("src") == "../assets/img/defaultImg.png") {
				$("#modal-btn").focus()
				Swal.fire({
					icon: "warning",
					text: "썸네일 이미지를 선택해주세요."
				})

			} else if (editor.getData().length > 3000) {
				Swal.fire({
					icon: 'warning',
					text: '내용이 너무 길어요'
				})
			} else if (select_sub == "카테고리(소)") {
				$("#sub-category").focus()
				Swal.fire({
					icon: 'warning',
					text: '카테고리는 필수항목 입니다.'
				});
			} else if (todaydate >= startdate) {
				$("input[name=startdate]").focus()
				Swal.fire({
					icon: 'warning',
					text: '시작일은 ' + todaydate + ' 이후로 설정해주세요'
				})

			} else if (!dateRegexp.test(startdate) || !dateRegexp.test(enddate)) {
				$("input[name=startdate]").focus()
				Swal.fire({
					icon: 'warning',
					text: '날짜의 형식이 맞지 않아요'
				})
			} else if (startdate > enddate) {
				$("input[name=enddate]").focus()
				Swal.fire({
					icon: 'warning',
					text: '종료날짜 설정이 잘못되었어요'
				})
			} else if ($("#challenge_type").val() == "유료" && $("input[name=challenge_cost]").val() == "") {
				Swal.fire({
					icon: 'warning',
					text: '챌린지 금액을 입력해 주세요'
				})
			} else {
				cost = $("input[name=challenge_cost]").val().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원";
				$.ajax({
					url: "/challenge",
					type: "POST",
					method: "POST",
					data: {
						challenge_name: $("input[name=challenge_name]").val(),
						thumbnail: $("#profile-img").attr("src"),
						startdate: startdate,
						enddate: enddate,
						subcategory_id: select_sub,
						description: editor.getData(),
						challenge_type: $("select[name=challenge_type]").val(),
						member_id: $("input[name=member_id]").val(),
						challenge_cost: cost,
						limit_member: $("#limit_member").val()
					},
					dataType: "text",
					//////////////////// recv
					success: function () {
						window.location.href = "/list?category=" + select_sub + "&sortType=0"
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				})
			}
		});
	</script>
</th:block>

</html>