<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Services Section ======= -->
		<section id="service-details" class="service-details challenge-detail-section"
			style="position: relative;padding-bottom: 0;">
			<div class="container aos-init aos-animate" data-aos="fade-up">
				<div class="col-lg-12">
					<div class="row gy-4">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-7 thumb-div">
									<img th:src="${challengeDetail.thumbnail}" alt="" class="ch-detail-thumb">
								</div>
								<div class="col-5 challenge-summary">
									<span class="ch-detail-category" th:if="${challengeDetail.subcategory_id}==1">취미 >
										영화</span>
									<span class="ch-detail-category" th:if="${challengeDetail.subcategory_id}==2">취미 >
										모임</span>
									<span class="ch-detail-category" th:if="${challengeDetail.subcategory_id}==3">취미 >
										등산</span>
									<span class="ch-detail-category" th:if="${challengeDetail.subcategory_id}==4">자기계발 >
										독서</span>
									<span class="ch-detail-category" th:if="${challengeDetail.subcategory_id}==5">자기계발 >
										자격증</span>
									<span class="ch-detail-category" th:if="${challengeDetail.subcategory_id}==6">자기계발 >
										외국어</span>

									<h3 class="ch-detail-title" th:text="${challengeDetail.challenge_name}"></h3>
									<div class="create-user">
										<img class="profile-img">
										<span>[[${createMember.member_name}]]</span>
										<small th:if="${createMember.position_id}==1">수석</small>
										<small th:if="${createMember.position_id}==2">책임</small>
										<small th:if="${createMember.position_id}==3">선임</small>

										<small th:if="${createMember.affiliates_id}==1">한솔 인티큐브</small>
										<small th:if="${createMember.affiliates_id}==2">한솔 제지</small>
										<small th:if="${createMember.affiliates_id}==3">한솔 테크닉스</small>
										<small th:if="${createMember.affiliates_id}==4">한솔 페이퍼택</small>
										<small th:if="${createMember.affiliates_id}==5">한솔 홀딩스</small>
										<small th:if="${createMember.affiliates_id}==6">한솔 문화재단</small>
										<small th:if="${createMember.affiliates_id}==7">한솔 케미칼</small>
										<small th:if="${createMember.affiliates_id}==8">한솔 홈데코</small>
										<small th:if="${createMember.affiliates_id}==9">한솔 코에버</small>
										<small th:if="${createMember.affiliates_id}==10">한솔 BS</small>
										<small th:if="${createMember.affiliates_id}==11">한솔 PNS</small>
										<small th:if="${createMember.affiliates_id}==12">한솔 로지스틱스</small>
									</div>
									<div class="date">
										<small>기간</small>
										[[${challengeDetail.startdate}]] ~ [[${challengeDetail.enddate}]]
									</div>
									<div class="num">
										<small>인원</small>
										[[${challengeDetail.count}]]명
									</div>
									<div class="ch-detail-etc">
										<span class="status">모집중</span>
										<span class="share">
											<a href="" class="share-link">
												<i class="fa-regular fa-share-from-square"></i>공유하기
											</a>
											<input type="hidden" class="copy-input">
										</span>
										<p class="challenge-toast">url이 클립보드에 복사되었습니다.</p>
									</div>
									<div class="price-div">
										<p class="kind">챌린지 유형</p>
										<p class="price" th:if="${challengeDetail.challenge_type}=='무료'">무료 챌린지</p>
										<p class="price" th:if="${challengeDetail.challenge_type}=='유료'">유료 챌린지</p>
									</div>
									<button id="challenge-join" class="btn challenge-join-btn">참여하기</button>
								</div>
							</div>

							<!-- 챌린지 상세보기 메뉴 탭 -->
							<div id="scrollMenu" class="challenge-detail-tab">
								<a class="menuTab detail_menu" th:href="@{#member}">참여 인원</a>
								<a class="menuTab detail_menu" th:href="@{#explanation}">챌린지 설명</a>
								<a class="menuTab detail_menu" th:href="@{#caution}">주의사항</a>
								<a class="menuTab detail_menu" th:href="@{#comment}">댓글</a>
							</div>

							<div class="col-12 challenge-join-member" id="member">
								<p class="join-member-text">
									참여 인원 <span class="join-member-num">([[${challengeDetail.count}]]명)</span>
								</p>

								<div th:each="joinMembers:${joinMembers}" class="ch-j-detail-div">
									<input id="join_memberid" th:value="${joinMembers.member_id}"
										style="display: none;">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>[[${joinMembers.member_name}]]</b>
									</p>
									<P th:if="${joinMembers.position_id}==1" class="ch-j-detail ch-detail-position">수석
									</P>
									<P th:if="${joinMembers.position_id}==2" class="ch-j-detail ch-detail-position">책임
									</P>
									<P th:if="${joinMembers.position_id}==3" class="ch-j-detail ch-detail-position">선임
									</P>

									<p th:if="${joinMembers.affiliates_id}==1" class="ch-j-detail ch-detail-aff">한솔 인티큐브
									</p>
									<p th:if="${joinMembers.affiliates_id}==2" class="ch-j-detail ch-detail-aff">한솔 제지
									</p>
									<p th:if="${joinMembers.affiliates_id}==3" class="ch-j-detail ch-detail-aff">한솔 테크닉스
									</p>
									<p th:if="${joinMembers.affiliates_id}==4" class="ch-j-detail ch-detail-aff">한솔 페이퍼택
									</p>
									<p th:if="${joinMembers.affiliates_id}==5" class="ch-j-detail ch-detail-aff">한솔 홀딩스
									</p>
									<p th:if="${joinMembers.affiliates_id}==6" class="ch-j-detail ch-detail-aff">한솔 문화재단
									</p>
									<p th:if="${joinMembers.affiliates_id}==7" class="ch-j-detail ch-detail-aff">한솔 케미칼
									</p>
									<p th:if="${joinMembers.affiliates_id}==8" class="ch-j-detail ch-detail-aff">한솔 홈데코
									</p>
									<p th:if="${joinMembers.affiliates_id}==9" class="ch-j-detail ch-detail-aff">한솔 코에버
									</p>
									<p th:if="${joinMembers.affiliates_id}==10" class="ch-j-detail ch-detail-aff">한솔 BS
									</p>
									<p th:if="${joinMembers.affiliates_id}==11" class="ch-j-detail ch-detail-aff">한솔 PNS
									</p>
									<p th:if="${joinMembers.affiliates_id}==12" class="ch-j-detail ch-detail-aff">한솔
										로지스틱스</p>

								</div>
							</div>


							<div style="padding-bottom: 50px;">
								<b id="explanation">챌린지 설명</b>
								<br>
								<p th:utext="${challengeDetail.description}"></p>

							</div>

							<div>
								<b id="caution">챌린지 주의사항</b>
								<ul>
									<li><i class="bi bi-check-circle"></i>
										<span>이 부분은
											모든 챌린지에 고정적으로 들어가는 부분입니다.</span>
									</li>
									<li><i class="bi bi-check-circle"></i>
										<span>챌린지
											댓글은 참여자만 작성 가능합니다.</span>
									</li>
									<li><i class="bi bi-check-circle"></i>
										<span>챌린지 주의사항 입니다.</span>
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>
				<hr>
			</div>
		</section>

		<section class="service-details" style="padding: 0;">
			<br> <br> <br>
			<div class="container aos-init aos-animate" data-aos="fade-up">
				<div class="row gy-4" id="comment-input">
					<div class="row ch-comment-input-content">
						<div class="col-lg-12">
							<p id="comment">댓글 작성하기</p>
							<div class="form-group mt-3">
								<textarea id="comment_content" class="form-control" name="message" rows="3"
									placeholder="댓글을 작성하세요." required=""></textarea>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group mt-3">
								<div class="text-right ch-comment-create-div">
									<button id="commentWrite" type="button" class="comment-btn">작성하기</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<!-- 댓글 목록 -->
			<div class="container mt-5">

				<div class="row  d-flex justify-content-center comment-content">
					<div class="col-md-12">
						<div class="headings d-flex justify-content-between align-items-center mb-3">
							<h5 id="comment-count">댓글</h5>
						</div>

						<!-- --------------댓글 목록 부분------------ -->
						<!-- 댓글 card 시작 -->
						<div id="card-list">

						</div>
						<!-- 댓글 card 끝 -->
					</div>
				</div>
				<br> <br>
				<th:block sec:authorize="isAuthenticated()">
					<input type="hidden" class="form-control price" name="member_id"
						th:value='${#authentication.principal.Username}' readonly>
				</th:block>
				<div class="ch-detail-to-list-btn" style="display: none;">
					<a th:href="@{/list?sortType=0}" class="comment-btn">목록</a>
				</div>
			</div>
		</section>
	</main>
	<!-- End #main -->
</div>
<!-- include JS Script -->
<th:block layout:fragment="javascript">
	<script src='../assets/js/scroll_menu.js'></script>
	<script th:inline="javascript">
		$(document).ready(function () {
			/*<![CDTATA[*/
			let challenge_id =/*[[${challengeDetail.challenge_id}]]*/'default';
			joinMembers =/*[[${joinMembers}]]*/'default';
			/*]]>*/
			var login_memberId = $("input[name='member_id']").val()

			if(login_memberId==null){
			}
			
			for (var i = 0; i < joinMembers.length; i++) {
				if (joinMembers[i].member_id == login_memberId) {
					$("#challenge-join").css("display", "none")
					$("#comment-input").css("display", "block")
					break;
				} else {
					$("#challenge-join").css("display", "block")
					$("#comment-input").css("display", "none")
				}
			}

			$.ajax({
				url: "/comment?challenge_id=" + challenge_id,
				method: "GET",
				//////////////////// recv
				success: function (result) {
					$("#comment-count").append(`(` + result.commentList.length + `)`)
					for (var i = 0; i < result.commentList.length; i++) {
						var position;
						if (result.memberList[i].position_id == 1) {
							position = "수석"
						} else if (result.memberList[i].position_id == 2) {
							position = "책임"
						} else if (result.memberList[i].position_id == 3) {
							position = "선임"
						}

						if (result.memberList[i].member_id == login_memberId) {
							$("#card-list").append(
								`<div class="card p-3 mt-2">
										<div class="d-flex justify-content-between align-items-center">
											<div class="user d-flex flex-row align-items-center">
												<img src="https://i.imgur.com/hczKIze.jpg" width="30"
														class="user-img rounded-circle mr-2"> 
													<span> 
														<small class="font-weight-bold text-primary">`+ result.memberList[i].member_name + `</small>
														<small class="font-weight-bold">`+ position + `</small>
														<div>
														<small class="font-weight-bold">`+ result.commentList[i].comment_content + `</small>
														</div>
													</span>
											</div>
											<small>`+ result.commentList[i].createdate + `</small>
										</div>
									<div class="action d-flex justify-content-between mt-2 align-items-center">
												<div class="reply px-4">
													<small>수정하기</small> 
														<span class="dots"></span> 
													<small>삭제하기</small>
												</div>
										</div>
									</div>`
							)
						} else {
							$("#card-list").append(
								`<div class="card p-3 mt-2">
										<div class="d-flex justify-content-between align-items-center">
											<div class="user d-flex flex-row align-items-center">
												<img src="https://i.imgur.com/hczKIze.jpg" width="30"
														class="user-img rounded-circle mr-2"> 
													<span> 
														<small class="font-weight-bold text-primary">`+ result.memberList[i].member_name + `</small>
														<small class="font-weight-bold">`+ position + `</small>
														<div>
														<small class="font-weight-bold">`+ result.commentList[i].comment_content + `</small>
														</div>
													</span>
											</div>
											<small>`+ result.commentList[i].createdate + `</small>
										</div>
									</div>`
							)
						}
					}
				},
				error: function (xhr, status, error) { // (파라미터 생략가능)
					alert("error");
				}
				////////////////////
			})



			//참여하기 버튼
			$("#challenge-join").click(function () {
				$.ajax({
					url: "/challenge/member",
					method: "POST",
					data: {
						member_id: $("input[name='member_id']").val(),
						challenge_id: challenge_id
					},
					//////////////////// recv
					success: function () {
						location.reload();
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				})

			})

			var comment_ajax = function () {
				$.ajax({
					url: "/comment",
					method: "POST",
					data: {
						member_id: login_memberId,
						challenge_id: challenge_id,
						comment_content: $("#comment_content").val()
					},
					//////////////////// recv
					success: function () {
						location.reload();
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				})
			}

			//댓글 입력
			$("#commentWrite").click(function () {
				comment_ajax();
			})
			$("#comment_content").keydown(function (key) {
				if (key.keyCode == 13) {
					comment_ajax();
				}
			})


			//url 공유하기 버튼 클릭
			$(".share-link").on("click", function (e) {

				e.preventDefault();

				$('.copy-input').attr('type', 'text');
				$(".copy-input").val(window.location.href); // 현재 주소 불러옴
				$(".copy-input").select();
				var copy = document.execCommand('copy');
				$('.copy-input').attr('type', 'hidden');

				$('.challenge-toast').fadeIn();
				$('.challenge-toast').delay(500).fadeOut('slow');
			});


		});
	</script>
</th:block>

</html>