<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Services Section ======= -->
		<section id="service-details" class="service-details challenge-detail-section"
			style="position: relative">
			<div class="container aos-init aos-animate" data-aos="fade-up">
				<div class="col-lg-12">
					<div class="row gy-4">
						<div class="col-lg-12">
							<div class="row">
								<div class="col-7 thumb-div">
									<img th:src="@{/assets/img/study-thumb.jpg}" alt=""
									class="ch-detail-thumb">
								</div>
								<div class="col-5 challenge-summary">
									<span class="ch-detail-category">자기계발 > 자격증</span>
									<h3 class="ch-detail-title">정보처리기사 챌린지</h3>
									<div class="create-user">
										<img class="profile-img" th:src="@{/assets/img/user.png}">
										<span>김한솔</span>
										<small>선임</small>
										<small>한솔 인티큐브</small>  
									</div>
									<div class="date">
										<small>기간</small> 
										2022.06.24 ~ 2022.07.05
									</div>
									<div class="num">
										<small>인원</small> 
										8명
									</div>
									<div class="ch-detail-etc">
										<span class="status">모집중</span>
										<span class="share">
											<a href="" class="share-link">
											<i class="fa-regular fa-share-from-square"></i>공유하기
											</a>
											<input type="hidden" class="copy-input">
										</span>
										<p class="challenge-toast">url이 클립보드에 복사되었습니다.</p>
									</div>
									<div class="price-div">
										<p class="kind">챌린지 유형</p>
										<p class="price">무료 챌린지</p>
									</div>
									<button class="btn challenge-join-btn">참여하기</button>
								</div>
							</div>
							
							<!-- 챌린지 상세보기 메뉴 탭 -->
							<div id="scrollMenu" class="challenge-detail-tab">
								<a class="menuTab detail_menu" th:href="@{#member}">참여 인원</a>  
								<a class="menuTab detail_menu" th:href="@{#explanation}">챌린지 설명</a> 
								<a class="menuTab detail_menu" th:href="@{#caution}">주의사항</a>
								<a class="menuTab detail_menu" th:href="@{#comment}">댓글</a>
							</div>

							<div class="col-12 challenge-join-member" id="member">
								<p class="join-member-text">
									참여 인원 <span class="join-member-num">(8 명)</span>
								</p>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">선임</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>전현정</b>
									</p>
									<P class="ch-j-detail ch-detail-position">수석</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>최원준</b>
									</p>
									<P class="ch-j-detail ch-detail-position">책임</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">인턴</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">인턴</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">인턴</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">인턴</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">인턴</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
								<div class="ch-j-detail-div">
									<p class="ch-j-detail">
										<i alt="" class="ch-user-icon fa-solid fa-user"></i>
									</p>
									<p class="ch-j-detail">
										<b>이고은</b>
									</p>
									<P class="ch-j-detail ch-detail-position">인턴</P>
									<p class="ch-j-detail ch-detail-aff">한솔 인티큐브</p>
								</div>
							</div>

							<div>
								<b id="period">챌린지 진행기간</b>
								<p>2022.06.14 ~ 2022.07.28</p>
							</div>

							<div>
								<b id="explanation">챌린지 설명</b>
								<p>Est reprehenderit voluptatem necessitatibus asperiores
									neque sed ea illo. Deleniti quam sequi optio iste veniam
									repellat odit. Aut pariatur itaque nesciunt fuga.</p>
								<p>Sunt rem odit accusantium omnis perspiciatis officia.
									Laboriosam aut consequuntur recusandae mollitia doloremque est
									architecto cupiditate ullam. Quia est ut occaecati fuga.
									Distinctio ex repellendus eveniet velit sint quia sapiente
									cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates
									tenetur nostrum. Eaque iusto cupiditate et totam et quia
									dolorum in. Sunt molestiae ipsum at consequatur vero.
									Architecto ut pariatur autem ad non cumque nesciunt qui maxime.
									Sunt eum quia impedit dolore alias explicabo ea.</p>
								<p>Est reprehenderit voluptatem necessitatibus asperiores
									neque sed ea illo. Deleniti quam sequi optio iste veniam
									repellat odit. Aut pariatur itaque nesciunt fuga.</p>
								<p>Sunt rem odit accusantium omnis perspiciatis officia.
									Laboriosam aut consequuntur recusandae mollitia doloremque est
									architecto cupiditate ullam. Quia est ut occaecati fuga.
									Distinctio ex repellendus eveniet velit sint quia sapiente
									cumque. Et ipsa perferendis ut nihil. Laboriosam vel voluptates
									tenetur nostrum. Eaque iusto cupiditate et totam et quia
									dolorum in. Sunt molestiae ipsum at consequatur vero.
									Architecto ut pariatur autem ad non cumque nesciunt qui maxime.
									Sunt eum quia impedit dolore alias explicabo ea.</p>

							</div>

							<div>
								<b id="caution">챌린지 주의사항</b>
								<ul>
									<li><i class="bi bi-check-circle"></i> 
										<span>이 부분은
											모든 챌린지에 고정적으로 들어가는 부분입니다.</span>
									</li>
									<li><i class="bi bi-check-circle"></i> 
										<span>챌린지
											댓글은 참여자만 작성 가능합니다.</span>
									</li>
									<li><i class="bi bi-check-circle"></i> 
										<span>챌린지 주의사항 입니다.</span>
									</li>
								</ul>
							</div>
						</div>

					</div>

				</div>
				<hr>
			</div>
		</section>

		<section class="service-details">
			<br> <br> <br>
			<div class="container aos-init aos-animate" data-aos="fade-up">
				<div class="row gy-4">
					<div class="row ch-comment-input-content">
						<div class="col-lg-12">
							<p id="comment">댓글 작성하기</p>
							<div class="form-group mt-3">
								<textarea class="form-control" name="message" rows="3"
									placeholder="댓글을 작성하세요." required=""></textarea>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group mt-3">
								<div class="text-right ch-comment-create-div">
									<button type="submit" class="comment-btn">작성하기</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<!-- 댓글 목록 -->
			<div class="container mt-5">

				<div class="row  d-flex justify-content-center comment-content">
					<div class="col-md-12">
						<div
							class="headings d-flex justify-content-between align-items-center mb-3">
							<h5>댓글(4)</h5>
						</div>

						<!-- --------------댓글 목록 부분------------ -->
						<!-- 댓글 card 시작 -->
						<div class="card p-3 mt-2">
							<div class="d-flex justify-content-between align-items-center">

								<div class="user d-flex flex-row align-items-center">

									<img src="https://i.imgur.com/hczKIze.jpg" width="30"
										class="user-img rounded-circle mr-2"> <span> <small
										class="font-weight-bold text-primary">김한솔</small> <small
										class="comment-list-position">선임</small> <small
										class="font-weight-bold">추천합니다.</small>
									</span>

								</div>
								<small>2022.06.14</small>
							</div>
							<div
								class="action d-flex justify-content-between mt-2 align-items-center">

								<div class="reply px-4">
									<small>수정하기</small> <span class="dots"></span> <small>삭제하기</small>
								</div>
							</div>
						</div>
						<!-- 댓글 card 끝 -->

						<!-- 댓글 card 시작 -->
						<div class="card p-3 mt-2">
							<div class="d-flex justify-content-between align-items-center">

								<div class="user d-flex flex-row align-items-center">

									<img src="https://i.imgur.com/C4egmYM.jpg" width="30"
										class="user-img rounded-circle mr-2"> <span> <small
										class="font-weight-bold text-primary">김한솔</small> <small
										class="comment-list-position">선임</small> <small
										class="font-weight-bold">추천합니다.</small>
									</span>

								</div>
								<small>2022.06.14</small>
							</div>
							<div
								class="action d-flex justify-content-between mt-2 align-items-center">

								<div class="reply px-4">
									<small>수정하기</small> <span class="dots"></span> <small>삭제하기</small>
								</div>
							</div>
						</div>
						<!-- 댓글 card 끝 -->

						<!-- 댓글 card 시작 -->
						<div class="card p-3 mt-2">
							<div class="d-flex justify-content-between align-items-center">

								<div class="user d-flex flex-row align-items-center">

									<img src="https://i.imgur.com/hczKIze.jpg" width="30"
										class="user-img rounded-circle mr-2"> <span> <small
										class="font-weight-bold text-primary">김한솔</small> <small
										class="comment-list-position">선임</small> <small
										class="font-weight-bold">추천합니다.</small>
									</span>

								</div>
								<small>2022.06.14</small>
							</div>
							<div
								class="action d-flex justify-content-between mt-2 align-items-center">

								<div class="reply px-4">
									<small>수정하기</small> <span class="dots"></span> <small>삭제하기</small>
								</div>
							</div>
						</div>
						<!-- 댓글 card 끝 -->

						<!-- 댓글 card 시작 -->
						<div class="card p-3 mt-2">
							<div class="d-flex justify-content-between align-items-center">

								<div class="user d-flex flex-row align-items-center">

									<img src="https://i.imgur.com/ZSkeqnd.jpg" width="30"
										class="user-img rounded-circle mr-2"> <span> <small
										class="font-weight-bold text-primary">김한솔</small> <small
										class="comment-list-position">선임</small> <small
										class="font-weight-bold">추천합니다.</small>
									</span>

								</div>
								<small>2022.06.14</small>
							</div>
							<div
								class="action d-flex justify-content-between mt-2 align-items-center">

								<div class="reply px-4">
									<small>수정하기</small> <span class="dots"></span> <small>삭제하기</small>
								</div>
							</div>
						</div>
						<!-- 댓글 card 끝 -->
					</div>
				</div>
				<br> <br>
				<div class="ch-detail-to-list-btn">
					<a th:href="@{/list?sortType=0}" class="comment-btn">목록</a>
				</div>
			</div>
		</section>
	</main>
	<!-- End #main -->
</div>
<!-- include JS Script -->
<th:block layout:fragment="javascript">
<script src='../assets/js/scroll_menu.js'></script>
<script>
$(document).ready(function(){
	
	//url 공유하기 버튼 클릭
	$(".share-link").on("click", function (e) {
		
		e.preventDefault();
		
		$('.copy-input').attr('type', 'text');
		$(".copy-input").val(window.location.href); // 현재 주소 불러옴
		$(".copy-input").select();
		var copy = document.execCommand('copy');
		$('.copy-input').attr('type', 'hidden');
		
		$('.challenge-toast').fadeIn();
		$('.challenge-toast').delay(500).fadeOut('slow');
	});
	
});
</script>
</th:block>
</html>