<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
	<link th:href="@{/assets/css/handa.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center"></div>
					</div>
				</div>
			</div>
			<div class="">
				<section id="" class="main-banner">
					<div class="swiper-container">

						<div
							class="slides-1 swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate"
							data-aos="fade-up">
							<!-- swiper wrapper -->
							<div class="swiper-wrapper" id="swiper-wrapper-e172d0ba610bc3621"
								aria-live="off"
								style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

								<div data-history="1" class="swiper-slide" 
									data-banner-img="../assets/img/banner/main/main_visual1.jpg"
									data-banner-link="/create">
									<div class="testimonial-item">
										<h3>같은 목표를 가진 사람들과 함께 하니까 <br> 끝까지 해낼 수 있어요</h3>
										<h4>지금 바로 챌린지를 생성해보세요!</h4>
										
									</div>
								</div>

								<div data-history="Slide 2" class="swiper-slide" 
									data-banner-img="../assets/img/banner/main/main_visual2.jpg"
									data-banner-link="/create">
									<div class="testimonial-item">
										<h3>클라이밍 챌린지를 추천합니다!</h3>
										<h4>모집중인 챌린지 보러가기</h4>
										
									</div>
								</div>
								<div data-history="3" class="swiper-slide" 
									data-banner-img="../assets/img/banner/main/main_visual3.jpg"
									data-banner-link="/challenge/detail?challenge_id=135">
									<div class="testimonial-item">
										<h3>클라이밍 챌린지를 추천합니다!</h3>
										<h4>7월 추천 챌린지 보러가기</h4>
										
									</div>
								</div>
								<div data-history="Slide 4" class="swiper-slide" 
									data-banner-img="../assets/img/banner/main/main_visual4.jpg"
									data-banner-link="/list">
									<div class="testimonial-item">
										<h3>6월 최신 챌린지를 추천합니다!</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										
									</div>
								</div>
								<div data-history="Slide 5" class="swiper-slide" 
									data-banner-img="../assets/img/banner/main/main_visual5.jpg"
									data-banner-link="/list">
									<div class="testimonial-item">
										<h3>6월 최신 챌린지를 추천합니다!</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										
									</div>
								</div>
							</div>

							<div
								class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
								<span class="swiper-pagination-bullet" tabindex="0"
									role="button" aria-label="Go to slide 1"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 2"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 3"></span><span
									class="swiper-pagination-bullet swiper-pagination-bullet-active"
									tabindex="0" role="button" aria-label="Go to slide 4"
									aria-current="true"></span>
							</div>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
							<span class="swiper-notification" aria-live="assertive"
								aria-atomic="true"></span>
						</div>

					</div>
				</section>
			</div>
		</div>

		<!-- ======= Services Section ======= -->
		<section class="search-section">
			<div class="container">

				<div
					class="row height d-flex justify-content-center align-items-center">

					<div class="col-md-7">

						<div class="form">
							<form id="search-form" th:action="@{/search}">
								<input id="search" th:name="searchword" type="text" class="form-control form-input"
									placeholder="찾으시는 챌린지가 있나요?">
								<input type="hidden" name="category" th:value="null">
								<input type="hidden" name="sort_type" th:value="null">
								<input type="hidden" name="challenge_type" th:value="null">
							</form>
							<i class="fa fa-search"></i>
							<!-- <span class="left-pan"></span>
                  <span class="search-btn">검색</span> -->
						</div>
						<div class="search-tag">
							<span>#운동</span> <span>#등산</span> <span>#자격증</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ======= 인기 챌린지 ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4">
					<div class="row gy-4">

						<div class="col-md-12 ch-menu-title">
							<h5>인기 챌린지</h5>
						</div>

						<!-- 챌린지 리스트 -->
						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100" th:each="popular: ${popularChallenge}">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="${popular.thumbnail}" alt=""
										class="img-fluid challenge-thumbnail">
								</div>

								<h3>
									<a th:href="@{/challenge/detail(challenge_id=${popular.challenge_id})}"
										th:text="'[' + ${popular.subcategory_name} + '] ' + ${popular.challenge_name}" class="stretched-link"></a>
								</h3>
								<div>
									<p id="card-p" class="date-p" th:text="${popular.startdate} + ' ~ ' + ${popular.enddate}"></p>
									<span th:if="${popular.challenge_state} == '모집중'" class="dday" th:text="'D-' + ${popular.dday}"></span>
								</div>
								<p id="card-p" th:text="'참여인원 ' + ${popular.joinVO.count} + '명'"></p>
								<div class="state">
									<div class="open-dt" th:text="${popular.createdate} + ' 생성'"></div>
									<div class="state-label" th:text="${popular.challenge_state}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Services Section -->
				<section id="testimonials" class="testimonials event-banner">
					<div class="container swiper-container">

						<div
							class="slides-2 swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate"
							data-aos="fade-up">
							<!-- swiper wrapper -->
							<div class="swiper-wrapper" id="swiper-wrapper-e172d0ba610bc3621"
								aria-live="off"
								style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

								<div data-history="1" class="swiper-slide" data-banner-img="../assets/img/banner/event/handa_event-banner1.jpg">
									<div class="testimonial-item" data-banner-color="#FFF6D2">
									</div>
								</div>

								<div data-history="Slide 2" class="swiper-slide" data-banner-img="../assets/img/banner/event/handa_event-banner2.jpg">
									<div class="testimonial-item" data-banner-color="#192842">
									</div>
								</div>
								<div data-history="3" class="swiper-slide" data-banner-img="../assets/img/banner/event/handa_event-banner3.jpg">
									<div class="testimonial-item" data-banner-color="#95D1CC">
									</div>
								</div>
								<div data-history="Slide 4" class="swiper-slide" data-banner-img="../assets/img/banner/event/handa_event-banner4.jpg">
									<div class="testimonial-item" data-banner-color="#22577E">
									</div>
								</div>
							</div>

							<div
								class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
								<span class="swiper-pagination-bullet" tabindex="0"
									role="button" aria-label="Go to slide 1"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 2"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 3"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 4"></span><span
									class="swiper-pagination-bullet swiper-pagination-bullet-active"
									tabindex="0" role="button" aria-label="Go to slide 5"
									aria-current="true"></span>
							</div>
							<!-- If we need navigation buttons -->
							<!-- <div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div> -->
							<span class="swiper-notification" aria-live="assertive"
								aria-atomic="true"></span>
						</div>

					</div>
				</section>
		<!-- 이벤트 배너 -->



		<!-- 유료 챌린지 -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4">
					<div class="row gy-4">

						<div class="col-md-12 ch-menu-title">
							<h5>유료 챌린지</h5>
						</div>

						<!-- 챌린지 리스트 -->
						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100" th:each="cost:${costChallenge}">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="${cost.thumbnail}" alt=""
										class="img-fluid challenge-thumbnail">
								</div>
								<h3>
									<a th:href="@{/challenge/detail(challenge_id=${cost.challenge_id})}"
										th:text="'[' + ${cost.subcategory_name} + '] ' + ${cost.challenge_name}" class="stretched-link"></a>
								</h3>
								<div>
									<p id="card-p" class="date-p" th:text="${cost.startdate} + ' ~ ' + ${cost.enddate}"></p>
									<span th:if="${cost.challenge_state} == '모집중'" class="dday" th:text="'D-' + ${cost.dday}"></span>
								</div>
								<p id="card-p" th:text="'참여인원 ' + ${cost.joinVO.count} + '명'"></p>
								<div class="state">
									<div class="open-dt" th:text="${cost.createdate} + ' 생성'"></div>
									<div class="state-label" th:text="${cost.challenge_state}"></div>
									<img th:src="@{../assets/img/won.png}" alt=""
										class="challenge_cost">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End 유료 챌린지 Section -->
	</main>
	<!-- End #main -->
</div>
<th:block>
<th:block layout:fragment="javascript">
	<!-- <script src='../assets/js/search_handling.js'></script> -->
</th:block>
</html>