<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
	<link th:href="@{/assets/css/handa.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center"></div>
					</div>
				</div>
			</div>
			<div class="">
				<section id="" class="main-banner">
					<div class="container swiper-container">

						<div
							class="slides-1 swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate"
							data-aos="fade-up">
							<!-- swiper wrapper -->
							<div class="swiper-wrapper" id="swiper-wrapper-e172d0ba610bc3621"
								aria-live="off"
								style="transform: translate3d(-4644px, 0px, 0px); transition-duration: 0ms;">

								<div data-history="1" class="swiper-slide" data-banner-img="../assets/img/banner/banner-1.jpg">
									<div class="testimonial-item" data-banner-img="../assets/img/banner/banner-1.jpg">
										<h3>6월 최신 챌린지를 추천합니다!</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										<p></p>
									</div>
								</div>

								<div data-history="Slide 2" class="swiper-slide" data-banner-img="../assets/img/banner/banner-2.jpg">
									<div class="testimonial-item" data-banner-img="../assets/img/banner/banner-2.jpg">
										<h3>6월 최신 챌린지를 추천합니다! 222</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										<p></p>
									</div>
								</div>
								<div data-history="3" class="swiper-slide" data-banner-img="../assets/img/banner/banner-1.jpg">
									<div class="testimonial-item" data-banner-img="../assets/img/about.jpg">
										<h3>6월 최신 챌린지를 추천합니다!333</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										<p></p>
									</div>
								</div>
								<div data-history="Slide 4" class="swiper-slide" data-banner-img="../assets/img/banner/banner-2.png">
									<div class="testimonial-item" data-banner-img="../assets/img/banner/banner-1.png">
										<h3>6월 최신 챌린지를 추천합니다!444</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										<p></p>
									</div>
								</div>
								<div data-history="5" class="swiper-slide" data-banner-img="../assets/img/banner/banner-1.png">
									<div class="testimonial-item">
										<h3>6월 최신 챌린지를 추천합니다!555</h3>
										<h4>지금 오픈 최저가로 만나보세요</h4>
										<p></p>
									</div>
								</div>
							</div>

							<div
								class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
								<span class="swiper-pagination-bullet" tabindex="0"
									role="button" aria-label="Go to slide 1"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 2"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 3"></span><span
									class="swiper-pagination-bullet" tabindex="0" role="button"
									aria-label="Go to slide 4"></span><span
									class="swiper-pagination-bullet swiper-pagination-bullet-active"
									tabindex="0" role="button" aria-label="Go to slide 5"
									aria-current="true"></span>
							</div>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
							<span class="swiper-notification" aria-live="assertive"
								aria-atomic="true"></span>
						</div>

					</div>
				</section>
			</div>
		</div>

		<!-- ======= Services Section ======= -->
		<section>
			<div class="container">

				<div
					class="row height d-flex justify-content-center align-items-center">

					<div class="col-md-7">

						<div class="form">
							<form>
								<input type="text" class="form-control form-input"
									placeholder="찾으시는 챌린지가 있나요?">
							</form>
							<i class="fa fa-search"></i>
							<!-- <span class="left-pan"></span>
                  <span class="search-btn">검색</span> -->
						</div>
						<div class="search-tag">
							<span>#운동</span> <span>#등산</span> <span>#자격증</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ======= 인기 챌린지 ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4">
					<div class="row gy-4">

						<div class="col-md-12 ch-menu-title">
							<h5>인기 챌린지</h5>
						</div>

						<!-- 챌린지 리스트 -->
						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">스페인어 공부 하실 분</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- End Services Section -->

		<!-- 이벤트 배너 -->
		<section id="testimonials" class="testimonials event-banner">
			<div class="container">

				<div
					class="slides-2 swiper swiper-initialized swiper-horizontal swiper-pointer-events aos-init aos-animate"
					data-aos="fade-up">
					<div class="swiper-wrapper" id="swiper-wrapper-e172d0ba610bc3621"
						aria-live="off"
						style="transform: translate3d(-4644px, 0px, 0px); transition-duration: 0ms;">
						<div class="swiper-slide swiper-slide-duplicate"
							data-swiper-slide-index="0" role="group" aria-label="1 / 5">
							<div class="testimonial-item">

								<h3>배너1</h3>
								<h4>문구</h4>
								<p></p>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-duplicate"
							data-swiper-slide-index="1" role="group" aria-label="2 / 5">
							<div class="testimonial-item">

								<h3>배너2</h3>
								<h4>문구</h4>
								<p></p>
							</div>
						</div>
						<div class="swiper-slide swiper-slide-duplicate"
							data-swiper-slide-index="2" role="group" aria-label="3 / 5">
							<div class="testimonial-item">

								<h3>배너3</h3>
								<h4>문구</h4>
								<p></p>
							</div>
						</div>
						<div
							class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
							data-swiper-slide-index="3" role="group" aria-label="4 / 5">
							<div class="testimonial-item">

								<h3>배너4</h3>
								<h4>문구</h4>
								<p></p>
							</div>
						</div>
						<div
							class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
							data-swiper-slide-index="4" role="group" aria-label="5 / 5">
							<div class="testimonial-item">

								<h3>배너5</h3>
								<h4>문구</h4>
								<p></p>
							</div>
						</div>

						<div class="swiper-slide swiper-slide-duplicate-next"
							data-swiper-slide-index="0" role="group" aria-label="1 / 5">
							<div class="testimonial-item">

								<h3>이벤트!</h3>
								<h4>지금 오픈 최저가로 만나보세요</h4>
								<p></p>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide" data-swiper-slide-index="1" role="group"
							aria-label="2 / 5">
							<div class="testimonial-item">

								<h3>이벤트</h3>
								<h4>6월 인기있는 챌린지에 참여하세요.</h4>
								<p></p>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide" data-swiper-slide-index="2" role="group"
							aria-label="3 / 5">
							<div class="testimonial-item">

								<h3>이베트2</h3>
								<h4>6월 인기있는 챌린지에 참여하세요.</h4>
								<p></p>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide swiper-slide-prev"
							data-swiper-slide-index="3" role="group" aria-label="4 / 5">
							<div class="testimonial-item">

								<h3>이벤트3</h3>
								<h4>6월 인기있는 챌린지에 참여하세요.</h4>
								<p></p>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide swiper-slide-active"
							data-swiper-slide-index="4" role="group" aria-label="5 / 5">
							<div class="testimonial-item">

								<h3>이벤ㅌ,4</h3>
								<h4>6월 인기있는 챌린지에 참여하세요.</h4>
								<p></p>
							</div>
						</div>
						<!-- End testimonial item -->

						<!-- <div
										class="swiper-slide swiper-slide-duplicate swiper-slide-next"
										data-swiper-slide-index="0" role="group" aria-label="1 / 5">
										<div class="testimonial-item">
											
											<h3>Saul Goodman</h3>
											<h4>Ceo &amp; Founder</h4>
											<p>
												
											</p>
										</div>
									</div>
									<div class="swiper-slide swiper-slide-duplicate"
										data-swiper-slide-index="1" role="group" aria-label="2 / 5">
										<div class="testimonial-item">
											
											<h3>Sara Wilsson</h3>
											<h4>Designer</h4>
											<p>
												
											</p>
										</div>
									</div>
									<div class="swiper-slide swiper-slide-duplicate"
										data-swiper-slide-index="2" role="group" aria-label="3 / 5">
										<div class="testimonial-item">
											
											<h3>Jena Karlis</h3>
											<h4>Store Owner</h4>
											<p>
												
											</p>
										</div>
									</div>
									<div
										class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
										data-swiper-slide-index="3" role="group" aria-label="4 / 5">
										<div class="testimonial-item">
											
											<h3>Matt Brandon</h3>
											<h4>Freelancer</h4>
											<p>
												
											</p>
										</div>
									</div> -->
						<div
							class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
							data-swiper-slide-index="4" role="group" aria-label="5 / 5">
							<div class="testimonial-item">

								<h3>John Larson</h3>
								<h4>Entrepreneur</h4>
								<p></p>
							</div>
						</div>
					</div>
					<div
						class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
						<span class="swiper-pagination-bullet" tabindex="0" role="button"
							aria-label="Go to slide 1"></span><span
							class="swiper-pagination-bullet" tabindex="0" role="button"
							aria-label="Go to slide 2"></span><span
							class="swiper-pagination-bullet" tabindex="0" role="button"
							aria-label="Go to slide 3"></span><span
							class="swiper-pagination-bullet" tabindex="0" role="button"
							aria-label="Go to slide 4"></span><span
							class="swiper-pagination-bullet swiper-pagination-bullet-active"
							tabindex="0" role="button" aria-label="Go to slide 5"
							aria-current="true"></span>
					</div>
					<span class="swiper-notification" aria-live="assertive"
						aria-atomic="true"></span>
				</div>

			</div>
		</section>

		<!-- 유료 챌린지 -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4">
					<div class="row gy-4">

						<div class="col-md-12 ch-menu-title">
							<h5>유료 챌린지</h5>
						</div>

						<!-- 챌린지 리스트 -->
						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">스페인어 공부 하실 분</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="@{../assets/img/study-thumb.jpg}" alt=""
										class="img-fluid">
								</div>
								<h3>
									<a href="/detail" class="stretched-link">공부 챌린지</a>
								</h3>
								<p>2022-06-24 ~ 2022-06-24</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End 유료 챌린지 Section -->
	</main>
	<!-- End #main -->
</div>
</html>