<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Challenge List</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>
				<nav>
					<div class="container">
						<ol>
							<li><a th:href="@{/}"><i class="fa-solid fa-house-chimney"></i></a></li>
							
							<!-- 전체 조회일 경우에만 표시 -->
							<li th:if="${#strings.isEmpty(subCategoryName)}" th:text="전체"></li>
							
							<!-- 카테고리 조회일 경우에만 표시 -->
							<li th:if="${not #strings.isEmpty(mainCategoryName)}" th:text=${mainCategoryName}></li>
							<li th:if="${not #strings.isEmpty(subCategoryName)}" th:text=${subCategoryName}></li>
						</ol>
					</div>
				</nav>
			</div>
		<!-- End Breadcrumbs -->

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="row gy-4">
<!-- 					<div class="create-challenge-div">
						<a href="/create" class="create-challenge-btn">챌린지 생성</a>
					</div> -->
					
					<div class="row gy-4">
						<div class="btn-group order-div col-2">
							<select id="sortTypeSelect" name="sortTypeSelect" class="form-select" onchange="select()">
								<option th:value="0" th:text="최신순" th:selected="${sortType} == '0'"></option>
								<option th:value="1" th:text="오래된순" th:selected="${sortType} == '1'"></option>
								<option th:value="2" th:text="참여인원순" th:selected="${sortType} == '2'"></option>
							</select>
						</div>
						
						<div class="btn-group order-div col-1">
							<select id="challengeTypeSelect" name="challengeTypeSelect" class="form-select" onchange="select()">
								<option th:value="0" th:text="전체" th:selected="${challengeType} == '0'"></option>
								<option th:value="1" th:text="무료" th:selected="${challengeType} == '1'"></option>
								<option th:value="2" th:text="유료" th:selected="${challengeType} == '2'"></option>
							</select>
						</div>
						
						<div class="btn-group order-div col-1">
							<select id="challengeStateSelect" name="challengeStateSelect" class="form-select" onchange="select()" style="width: 95px;">
								<option th:value="0" th:text="모집중" th:selected="${challenge_state} != '1'"></option>
								<option th:value="1" th:text="전체" th:selected="${challenge_state} == '1'"></option>
							</select>
						</div>

						<div class="search-div col-8" style="padding-right: 40px;">
							<!-- <div class=""> -->
								<form id="search-form" th:action="@{/search}" class="form-search handa-search-form">
									<input id="search" th:name="searchword" type="text" class="form-control" 
									th:value="${searchWord}" placeholder="검색어를 입력하세요.">
									<input type="hidden" name="category" th:value="${categoryID}">
									<input type="hidden" name="sort_type" th:value="${sortType}">
									<input type="hidden" name="challenge_type" th:value="${challengeType}">
									<input th:if="${challenge_state} == 1" type="hidden" name="challenge_state" th:value="${challenge_state}">
	
									<button id="search-btn" type="submit"
										class="handa-outline-btn list-search-btn">검색</button>
								</form>
							<!-- </div>
							<div class="create-challenge-div"> -->
								<a th:href="@{/challenge}" class="handa-btn create-btn">챌린지 생성</a>
							<!-- </div> -->
						</div>
						
	
						<div id ="list-container" class="row gy-4"></div>
						
						<div id="end"></div>
						</div>
					</div>
				</div>
		</section>
		<!-- End Services Section -->
	</main>
	<!-- End #main -->
</div>
<!-- include JS Script -->
<th:block layout:fragment="javascript">
	<script src='../assets/js/infiniteScroll.js'></script>
	<!-- <script src='../assets/js/search_handling.js'></script> -->
	<script th:inline="javascript">	

		$(document).ready(function(){
			var category = "[[${categoryID}]]";						// 카테고리 ID
			var sortType = "[[${sortType}]]";						// 정렬 타입
			var createdate = "0000-00-00 00:00:00";					// 생성 날짜 기본 값
			var count = "0";										// 참여 인원 기본 값
			/*<![CDATA[*/
			var searchWord = /*[[${searchWord}]]*/ 'default';		// 검색 키워드
			/*]]>*/
			var challengeType = "[[${challengeType}]]";				// 챌린지 타입
			var challengeState = "[[${challenge_state}]]";			// 챌린지 상태
			
			if(category == "null") category = "0"; 					// 전체 조회의 경우
			if(sortType == "null") sortType = "0"; 					// 정렬 타입 주어지지 않은 경우
			if(challengeType == "null") challengeType = "0"			// 챌린지 타입 주어지지 않은 경우
			if(challengeState == "null") challengeState = 0			// 챌린지 상태 주어지지 않은 경우
			
			infiniteScroll(category, sortType, createdate, count, searchWord, challengeType, challengeState);
		}); 
		
		// select 태그 눌렀을 때 조건에 따라 조회 (정렬 조건, 챌린지 타입, 챌린지 상태)
		function select(){
			var category = "[[${categoryID}]]";	
			var sortTypeSelect = document.getElementById('sortTypeSelect');
			var challengeTypeSelect = document.getElementById("challengeTypeSelect");
			/*<![CDATA[*/
			var searchWord = /*[[${searchWord}]]*/ 'default';
			/*]]>*/
			
			var sortType = sortTypeSelect.options[sortTypeSelect.selectedIndex].value;
			var challengeType = challengeTypeSelect.options[challengeTypeSelect.selectedIndex].value;
			var challengeState = challengeStateSelect.options[challengeStateSelect.selectedIndex].value;
			
			console.log(challengeState);
			
			//var is_chcked = $('#toggle-input').is(':checked');
			
/* 			if(searchWord != null)
				if(category != "null")
					if(challengeState == 0)
						window.location.href = "/search?searchword=" + searchWord + "&category=" + category +"&sort_type=" + 
								sortType + "&challenge_type=" + challengeType;
					else
						window.location.href = "/search?searchword=" + searchWord + "&category=" + category +"&sort_type=" + 
								sortType + "&challenge_type=" + challengeType + "&challenge_state=1";
				else
					if(challengeState == 1)
						window.location.href = "/search?searchword=" + searchWord + "&category=&sort_type=" + 
								sortType + "&challenge_type=" + challengeType;
					else
						window.location.href = "/search?searchword=" + searchWord + "&category=&sort_type=" + 
								sortType + "&challenge_type=" + challengeType + "&challenge_state=1";
			else{
				if(category == "null")
					if(sortType == "null" && challengeType == "null")
						if(challengeState == 0)
							window.location.href = "/list?challenge_state=1";
						else
							window.location.href = "/list";
					else
						if(challengeState == 0)
							window.location.href = "/list?sort_type=" + sortType + "&challenge_type=" + challengeType + "&challenge_state=1";
						else
							window.location.href = "/list?sort_type=" + sortType + "&challenge_type=" + challengeType;
				else
					if(challengeType == "null")
						if(challengeState == 0)
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType + "&challenge_state=1";
						else
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType;
					else
						if(challengeState == 0)
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType 
								+ "&challenge_type=" + challengeType + "&challenge_state=1";
						else
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType 
								+ "&challenge_type=" + challengeType;
			} */
			if(searchWord != null){
				if(challengeState == 1)
					if(category == "null")
						window.location.href = "/search?searchword=" + searchWord + "&category=&sort_type=" + 
							sortType + "&challenge_type=" + challengeType + "&challenge_state=1";
					else
						window.location.href = "/search?searchword=" + searchWord + "&category=" + category + "&sort_type=" + 
							sortType + "&challenge_type=" + challengeType + "&challenge_state=1";
				else
					if(category == "null")
						window.location.href = "/search?searchword=" + searchWord + "&category=&sort_type=" + 
							sortType + "&challenge_type=" + challengeType;
					else
						window.location.href = "/search?searchword=" + searchWord + "&category=" + category + "&sort_type=" + 
							sortType + "&challenge_type=" + challengeType;
			}
			
			else{
				if(category == "null")
					if(sortType == "null" && challengeType == "null")
						if(challengeState == 1)
							window.location.href = "/list?challenge_state=1";
						else
							window.location.href = "/list";
					else
						if(challengeState == 1)
							window.location.href = "/list?sort_type=" + sortType + "&challenge_type=" + challengeType + "&challenge_state=1";
						else
							window.location.href = "/list?sort_type=" + sortType + "&challenge_type=" + challengeType;
				else
					if(challengeType == "null")
						if(challengeState == 1)
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType + "&challenge_state=1";
						else
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType;
					else
						if(challengeState == 1)
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType 
								+ "&challenge_type=" + challengeType + "&challenge_state=1";
						else
							window.location.href = "/list?category=" + category + "&sort_type=" + sortType 
								+ "&challenge_type=" + challengeType;
			}
		}
		
	</script>
</th:block>
</html>