<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Challenge List</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a th:href="@{/list}">홈</a></li>
						<li>챌린지 리스트</li>
						
						<!-- 카테고리 조회일 경우에만 표시 -->
						<li th:if="${not #strings.isEmpty(mainCategoryName)}" th:text=${mainCategoryName}></li>
						<li th:if="${not #strings.isEmpty(subCategoryName)}"th:text=${subCategoryName}></li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<!--  <span>챌린지 리스트</span>
          <h2>챌린지 리스트</h2> -->

				</div>

				<div class="row gy-4">

					<div class="create-challenge-div">
						<a href="/create" class="create-challenge-btn">챌린지 생성</a>
					</div>
					<div class="row gy-4">
						<div class="btn-group order-div col-2">
							<select class="form-control handa-list-select" onchange="if(this.value) location.href=(this.value);">
								<th:block th:if="${#strings.isEmpty(isCategory)} or ${!isCategory}">
									<option th:value="@{/list?sortType=0}" th:text="최신순" th:selected="${sortType} == '0'"></option>
									<option th:value="@{/list?sortType=1}" th:text="오래된순" th:selected="${sortType} == '1'"></option>
									<option th:value="@{/list?sortType=2}" th:text="참여인원순" th:selected="${sortType} == '2'"></option>
								</th:block>
								
								<th:block th:if="${isCategory}">
									<option th:value="@{${'/list?category=' + {categoryID} + '&sortType=0'}}" th:text="최신순" th:selected="${sortType} == '0'"></option>
									<option th:value="@{${'/list?category=' + {categoryID} + '&sortType=1'}}" th:text="오래된순" th:selected="${sortType} == '1'"></option>
									<option th:value="@{${'/list?category=' + {categoryID} + '&sortType=2'}}" th:text="참여인원순" th:selected="${sortType} == '2'"></option>
								</th:block>
							</select>
						</div>
						<div class="col-6"></div>
						<div class="search-div col-4">
							<form action="#" class="form-search handa-search-form">
								<input type="text" class="form-control"
									placeholder="검색어를 입력하세요.">
								<button type="submit"
									class="btn btn-primary handa-outline-btn list-search-btn">검색</button>
							</form>
						</div>
						<div class="col-md-12"></div>
						
							<!-- 챌린지 리스트 -->
							<div class="card-container col-lg-4 col-md-6" data-aos="fade-up"
							data-aos-delay="100" th:each="challenge : ${challengeList}">
							<div class="card challenge-item">
								<div class="card-img">
									<img th:src="${challenge.thumbnail}" alt=""
										class="img-fluid challenge-thumbnail">
								</div>
								<h3>
									<th:block th:if="${#strings.isEmpty(isCategory)} or ${!isCategory}">
										<a href="/detail" class="stretched-link" th:text="'[' + ${challenge.subcategory_name} + '] ' + ${challenge.challenge_name}"></a>
									</th:block>
									<th:block th:if="${isCategory}">
										<a href="/detail" class="stretched-link" th:text="'[' + ${subCategoryName} + '] ' + ${challenge.challenge_name}"></a>
									</th:block>
								</h3>
								<!-- <p th:text="'생성날짜: ' + ${challenge.createdate}"></p> -->
								<p id="card-p" th:text="${challenge.startdate} + ' ~ ' + ${challenge.enddate}"></p>
								<p id="card-p" th:text="'참여인원 ' + ${challenge.joinVO.count} + '명'"></p>
								
								<div class="state">
									<div class="open-dt" th:text="${challenge.createdate} + ' 생성'"></div> 
									<div class="state-label" th:text="${challenge.challenge_state}"></div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Services Section -->
	</main>
	<!-- End #main -->
</div>
	<!-- include JS Script -->
	<th:block layout:fragment="javascript">   
		<script src='../assets/js/infiniteScroll.js'></script>
	</th:block>
</html>