<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">


	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

		<section class="sample-page register-padding-top-0">
			<div class="container" data-aos="fade-up"></div>
		</section>
		
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<section id="contact" class="contact register-padding-top-30px">
					<div class="text-center">
						<div style="margin-bottom: 100px;" data-aos="fade-up">
							<h2>[한다] 챌린지 알아보기</h2>
							<img style="width: 60%;" th:src="@{/assets/img/challenge.png}">
						</div>
						<div style="margin-bottom: 300px;" data-aos="fade-up">
							<h3 style="margin-bottom: 50px;">챌린지란?</h3>
							 <p>취미나 자기계발 중 평소에 함께 도전하고자 했던 목표들을 말합니다.</p>  
						</div>
						
						<div style="margin-bottom: 300px;" data-aos="fade-up">
							<h3 style="margin-bottom: 50px;">챌린지 유형</h3>
							<div style="display: inline-block; width: 30%; margin-top: 50px;">
								<h5>무료</h5>
								<img style="width: 40%; margin-top: 10px;" th:src="@{/assets/img/goal.png}">
								<p style="font-size: 15px; margin-top: 15px;">자유롭게 참여 가능한 무료 챌린지</p>
							</div>
							<div style="display: inline-block; width: 30%;">
								<h5>유료</h5>
								<img style="width: 40%; margin-top: 10px;" th:src="@{/assets/img/money.png}">
								 <p style="font-size: 15px; margin-top: 15px;">회비가 필요한 여행 모임이나 강의식으로 진행되는 챌린지</p>
							</div>
						</div>
						
						<div style="margin-bottom: 170px;" data-aos="fade-up">
							<h3 style="margin-bottom: 50px;">챌린지 상태</h3>
							
							<div>
								<img style="width: 55%;" th:src="@{/assets/img/status-bar.png}" alt="마감 프로세스 바">
							</div>
							
							<br><br>
							
							<p style="font-size: 18px; margin-bottom: 50px;">오늘 날짜가 2022년 7월 20일이라면? </p>
							
							<div style="display: inline-block; width: 30%;">
								<p style="font-size: 20px; background-color: #86a0e6; color: #fff; margin: 0 auto; width: 100px; border-radius: 5px; margin-bottom: 10px;">
								모집중</p>
								
								<img style="width: 80%;" th:src="@{/assets/img/status1.png}">
								<p>[모집중] 오늘 날짜가 시작 날짜 전이면</p>
							</div>
							<div style="display: inline-block; width: 30%;">
								<p style="font-size: 20px; background-color: #86a0e6; color: #fff; margin: 0 auto; width: 100px; border-radius: 5px;  margin-bottom: 10px;">
								진행중</p>
								
								<img style="width: 80%;" th:src="@{/assets/img/status2.png}">
								<p>[진행중] 시작 날짜 이후이고 종료 날짜 전이라면</p>
							</div>
							<div style="display: inline-block; width: 30%;">
								<p style="font-size: 20px; background-color: #86a0e6; color: #fff; margin: 0 auto; width: 100px; border-radius: 5px;  margin-bottom: 10px;">
								마감</p>
								
								<img style="width: 80%;" th:src="@{/assets/img/status3.png}">
								<p>[마감] 종료 날짜 이후면</p>
							</div>
							
							<br><br>
							<p>
							* 사용자는 진행중이거나 마감된 챌린지는 참여할 수 없고 모집중인 챌린지만 참여할 수 있습니다.
							</p>
						</div>
						
						
						
						<!-- 자주묻는 질문 section -->

					</div>
				</section>
			</div>
		</section>

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">
				<section id="contact" class="contact register-padding-top-30px">
					<div class="text-center">
					<h3>자주 묻는 질문</h3>

						<!-- <div class="register-div">
							<div class="line-div"></div>

						</div> -->
						<!-- 자주묻는 질문 section -->
						<section id="faq" class="faq" style="padding: 0px; margin-top: 50px;">
							<div class="container aos-init aos-animate" data-aos="fade-up">
								<div class="row justify-content-center aos-init aos-animate" data-aos="fade-up"
									data-aos-delay="200">
									<div class="col-lg-10">

										<div class="accordion accordion-flush" id="faqlist">

											<div class="accordion-item">
												<h3 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse" data-bs-target="#faq-content-1">
														<i class="bi bi-question-circle question-icon"></i>
														챌린지 참여는 어떻게 하나요?
													</button>
												</h3>
												<div id="faq-content-1" class="accordion-collapse collapse"
													data-bs-parent="#faqlist">
													<div class="accordion-body">챌린지는 로그인된 회원이 모집 중인 챌린지를 찾아 참여할 수 있습니다.
														단, 이미 진행 중이거나 모집 중인 챌린지는 참여할 수 없습니다.</div>
												</div>
											</div>
											<!-- # Faq item-->

											<div class="accordion-item">
												<h3 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse" data-bs-target="#faq-content-2">
														<i class="bi bi-question-circle question-icon"></i>
														챌린지 탈퇴는 어떻게 하나요?
													</button>
												</h3>
												<div id="faq-content-2" class="accordion-collapse collapse"
													data-bs-parent="#faqlist">
													<div class="accordion-body">'마이페이지 - 내가 참여한 챌린지'를 통해 참여한 챌린지를 확인할 수
														있으며 자유롭게 탈퇴할 수 있습니다.</div>
												</div>
											</div>
											<!-- # Faq item-->

											<div class="accordion-item">
												<h3 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse" data-bs-target="#faq-content-3">
														<i class="bi bi-question-circle question-icon"></i>
														유료 챌린지를 개설하려고 하는데 주의사항이 있나요?
													</button>
												</h3>
												<div id="faq-content-3" class="accordion-collapse collapse"
													data-bs-parent="#faqlist">
													<div class="accordion-body">유료 챌린지는 금전적 거래가 있는 챌린지입니다.
														해당 챌린지를 통해 금전적 이득만을 취하는 사기 행위는 처벌 대상이므로 주의해주세요.</div>
												</div>
											</div>
											<!-- # Faq item-->

											<div class="accordion-item">
												<h3 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse" data-bs-target="#faq-content-4">
														<i class="bi bi-question-circle question-icon"></i>
														참여한 챌린지가 삭제 됐어요. 어떻게 하나요?
													</button>
												</h3>
												<div id="faq-content-4" class="accordion-collapse collapse"
													data-bs-parent="#faqlist">
													<div class="accordion-body">
														개설자에 의해 삭제됐거나 혹은 관리자의 판단에 의해 삭제된 것입니다.
														다른 챌린지에 참여해보세요
													</div>
												</div>
											</div>
											<!-- # Faq item-->

											<div class="accordion-item">
												<h3 class="accordion-header">
													<button class="accordion-button collapsed" type="button"
														data-bs-toggle="collapse" data-bs-target="#faq-content-5">
														<i class="bi bi-question-circle question-icon"></i>
														챌린지 정보를 한눈에 보고 싶어요
													</button>
												</h3>
												<div id="faq-content-5" class="accordion-collapse collapse"
													data-bs-parent="#faqlist">
													<div class="accordion-body">'마이페이지 - 일정 관리' 탭을 통해서 회원님이 참여한 챌린지와
														개설한 챌린지의 일정은 캘린더를 통해서 한눈에 볼 수 있어요
													</div>
												</div>
											</div>
											<!-- # Faq item-->

										</div>

									</div>
								</div>

							</div>
						</section>

					</div>
				</section>
			</div>
		</section>
		<!-- End Services Section -->

	</main>
	<!-- End #main -->
</div>

<th:block layout:fragment="javascript">
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		$(document).ready(function () {

		});
	</script>
</th:block>

</html>
