<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('/assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Challenge List</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		<section class="sample-page" style="padding-top:20px">
			<div class="container" data-aos="fade-up"></div>
		</section>
		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<!--					<span>챌린지 수정</span>-->
					<h2>챌린지 수정</h2>
				</div>
				<section id="contact" class="contact">
					<div class="container aos-init aos-animate" data-aos="fade-up" id="show_modal">
						<div class="row g-0">
							<form action="/challenge" method="post" class="php-email-form"
								style="background-color: white;">
								<div class="row gy-4">
									<div class="col-md-6">
										<label for="create-label">
											Thumbnail
										</label>
										<br>
										<div
											style="display: inline-block; height: 100%; vertical-align: top; width:100%">
											<button type="button" id="modal-btn" class="profile-btn"
												data-toggle="modal"><img name="thumbnail" id="profile-img"
													th:src="${challenge.thumbnail}" class="profile-img">
												<img class="searchimg" src="../assets/img/searchimg.png">
											</button>
										</div>
									</div>
									<div class="col-md-6" style="padding-top: 35px;">

										<div class="form-group mt-5 row">
											<div class="col-2 register-label-style">
												<label class="create-label">
													챌린지 이름
												</label>
											</div>
											<div class="col-10">
												<input type="text" name="challenge_name" class="form-control "
													placeholder="챌린지 이름" th:value="${challenge.challenge_name}">
											</div>
										</div>


										<div class="form-gorup mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">
													카테고리
												</label>
											</div>
											<div class="col-5">
												<input type="text" name="main_category" class="form-control" readonly>
											</div>
											<div class="col-5">
												<input type="text" name="sub_category" class="form-control" readonly>
											</div>
										</div>


										<div class="form-group mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">기간</label>
											</div>
											<div class="col-5">
												<input type="text"  name="startdate" class="form-control"
													placeholder="시작날짜" required="" th:value="${challenge.startdate}">
											</div>
											<div class="col-5">
												<input type="text" class="form-control" name="enddate"
													placeholder="종료날짜" required="" th:value=${challenge.enddate}>
											</div>
										</div>

										<div class="form-group mt-5 row">
											<div class="register-label-style col-2">
												<label class="create-label">유형</label>
											</div>
											<div class="col-10">
												<div style="display: flex;">
													<select class="form-control main-category" name="challenge_type"
														id="challenge_type" style="width:50%">
														<input type="text"
															onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"
															style="width:60%;" name="challenge_cost"
															class="form-control" placeholder="금액을 입력해주세요" disabled>
														</input>
													</select>
												</div>
											</div>
										</div>
									</div>



									<div class="modal">
										<div id="modal_body" class="check">
											<div style="text-align: right;" class="check">
												<button type="button" class="btn-close" aria-label="Close"
													id="modal-close"></button>
											</div>
											<div style="padding:5px 30px 30px 30px" class="check">
												<label for="main-category">
													<h3>이미지 검색</h3>
												</label>
											</div>
											<div class="input-group mb-3" style="padding:0px 30% 30px 30%">
												<input type="text" class="form-control" placeholder="검색어를 입력해주세요"
													aria-label="검색어를 입력해주세요" aria-describedby="basic-addon2"
													id="search-word">
												<div class="input-group-append">
													<button class="btn btn-primary" type="button" style="height: 50px;"
														id="image-search-btn">검색</button>
												</div>
											</div>
											<div id="img-list">

											</div>
										</div>
									</div>

									<div class="col-md-12">
										<label class="create-label">
											설명
										</label>
										<div>
											<textarea id="editor" th:text="${challenge.description}"></textarea>
										</div>
									</div>

									<div class="col-md-12 text-center create-challenge">
										<button type="button" id="update-challenge" class="handa-btn"
											style="width:15%">챌린지
											수정</button>
									</div>
									<input type="hidden" class="form-control price" name="member_id"
										th:value='${#authentication.principal.Username}' readonly>
								</div>
							</form>
						</div>
						<!-- End Quote Form -->
					</div>
			</div>
		</section>
</div>
</section>
<!-- End Services Section -->
</main>
<!-- End #main -->
</div>
<th:block layout:fragment="javascript">
	<script src="/build/ckeditor.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
	<script th:inline="javascript">


		let editor;
		ClassicEditor
			.create(document.querySelector('#editor'))
			.then(newEditor => {
				editor = newEditor;
			})
			.catch(error => {
				console.error(error);
			});
		$(document).ready(function () {
			/*<![CDTATA[*/
			var sub_category =/*[[${challenge.subcategory_id}]]*/'default';
			challenge_type =/*[[${challenge.challenge_type}]]*/'default';
			challenge_id =/*[[${challenge.challenge_id}]]*/'default';
			challenge_cost =/*[[${challenge.challenge_cost}]]*/'dafault'
			/*]]>*/

			$.datepicker.setDefaults({
				dateFormat: 'yymmdd',
				prevText: '이전 달',
				nextText: '다음 달',
				monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNames: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				showMonthAfterYear: true,
				yearSuffix: '년'
			});

			$("input[name=startdate]").datepicker({
				dateFormat: 'yy-mm-dd'
			});

			$("input[name=enddate]").datepicker({
				dateFormat: 'yy-mm-dd'
			});



			$("#modal-btn").hover(function () {
				$(".searchimg").css("display", "block")
				$(".defaultimg").css("opacity", "0.6")
				$(".profile-img").css("opacity", "0.6")
			}, function () {
				$(".searchimg").css("display", "none")
				$(".defaultimg").css("opacity", "1")
				$(".profile-img").css("opacity", "1")
			})

			switch (sub_category) {
				case 1:
					$("input[name=sub_category]").attr("value", "영화")
					$("input[name=main_category]").attr("value", "취미")
					break;
				case 2:
					$("input[name=sub_category]").attr("value", "모임")
					$("input[name=main_category]").attr("value", "취미")
					break;
				case 3:
					$("input[name=sub_category]").attr("value", "등산")
					$("input[name=main_category]").attr("value", "취미")
					break;
				case 4:
					$("input[name=sub_category]").attr("value", "독서")
					$("input[name=main_category]").attr("value", "자기계발")
					break;
				case 5:
					$("input[name=sub_category]").attr("value", "자격증")
					$("input[name=main_category]").attr("value", "자기계발")
					break;
				case 6:
					$("input[name=sub_category]").attr("value", "외국어")
					$("input[name=main_category]").attr("value", "자기계발")
					break;
				case 7:
					$("input[name=sub_category]").attr("value", "운동")
					$("input[name=main_category]").attr("value", "자기계발")
					break;
					
			}
			switch (challenge_type) {
				case "유료":
					$("select[name=challenge_type]").append("<option>유료</option><option>무료</option>")
					$("input[name=challenge_cost]").prop("disabled", false)
					var change_cost = challenge_cost.replace("원", "")
					change_cost = change_cost.replace(",", "")
					$("input[name=challenge_cost]").val(change_cost)
					break;
				case "무료":
					$("select[name=challenge_type]").append("<option>무료</option><option>유료</option>")
					break;
			}

		})
		$('#modal-btn').click(function () {
			$('.modal').toggleClass('show')
		});
		$('#modal-close').click(function () {
			$('.modal').toggleClass('show')
		});

		$("#challenge_type").change(function () {
			if ($(this).val() == "유료") {
				$("input[name=challenge_cost]").prop("disabled", false)
			} else {
				$("input[name=challenge_cost]").prop("disabled", true)
				$("input[name=challenge_cost]").val("")
			}
		})

		var searchEvent = function () {
			$('#img-list').empty();
			if ($('#search-word').val() != '') {
				$.ajax({ // ajax 기본형태
					//////////////////// send(가는것)
					url: "http://localhost:8080/imagelist/" + $('#search-word').val(),
					method: "GET",
					//////////////////// recv
					success: function (data) { // status, xhr 생략가능
						if (data.length != 0) {
							for (var i = 0; i < data.length; i++) {
								$('#img-list').append(
									`<button type="button" class="img-btn">
								<img class="img-lists" src="`+ data[i] + `"></button>`
								)
							}
						} else {
							alert("검색결과가 없습니다");
						}
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				});
			} else {
				alert("검색어를 입력해주세요")
			}
		}
		$('#search-word').keydown(function (key) {
			if (key.keyCode == 13) {
				searchEvent();
			}
		});
		$('#image-search-btn').click(function () {
			searchEvent();
		});

		$(document).on("click", ".img-btn", function () {
			var ch = $(this).find('.img-lists').attr("src")
			$('.modal').toggleClass('show');
			$('#img-list').empty();
			$('#search-word').val("");
			$('#profile-img').attr("src", ch);
		});

		$('#update-challenge').click(function () {
			var member_id = $("input[name=member_id]").val();
			var startdate = $("input[name=startdate]").val()
			var enddate = $("input[name=enddate]").val()
			var dateRegexp = /[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])/;


			if ($("input[name=challenge_name]").val() == null || $("input[name=challenge_name]").val() == "" || $("input[name=challenge_name]").val().length > 25) {
				alert("제목없거나 너무 김");
			} else if (editor.getData().length > 1000) {
				alert("내용 입력 값 초과");
			} else if (!dateRegexp.test(startdate) || !dateRegexp.test(enddate)) {
				alert("날짜형식 오류")
			} else if (startdate > enddate) {
				alert("종료날짜 설정 오류")
			} else {
				cost = $("input[name=challenge_cost]").val().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원";
				$.ajax({
					url: "/challenge-amend",
					type: "post",
					method: "POST",
					data: {
						challenge_id: challenge_id,
						challenge_name: $("input[name=challenge_name]").val(),
						thumbnail: $("#profile-img").attr("src"),
						startdate: startdate,
						enddate: enddate,
						description: editor.getData(),
						challenge_type: $("select[name=challenge_type]").val(),
						member_id: member_id,
						challenge_cost: cost
					},
					dataType: "text",
					//////////////////// recv
					success: function () {
						window.location.href = "/challenge/detail?challenge_id=" + challenge_id;
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				})
			}
		});

	</script>
</th:block>

</html>