<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">


<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Challenge CSS File -->
	<link th:href="@{/assets/css/challenge.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('/assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Challenge List</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>
			<nav>
				<div class="container">
					<ol>
						<li><a href="/">홈</a></li>
						<li>챌린지 수정</li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->
		<section class="sample-page" style="padding-top:20px">
			<div class="container" data-aos="fade-up"></div>
		</section>
		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">
				<div class="section-header">
					<span>챌린지 수정</span>
					<h2>챌린지 수정</h2>
				</div>
				<section id="get-a-quote" class="get-a-quote">
					<div class="container aos-init aos-animate" data-aos="fade-up" id="show_modal">
						<div class="row g-0">
							<form action="/challenge" method="post" class="php-email-form">
								<div class="row gy-4">
									<div class="col-md-6">
										<label for="main-category">
											<h3>Thumbnail</h3>
										</label>
										<br>
										<div
											style="display: inline-block; height: 100%; vertical-align: top; width:100%">
											<button type="button" id="modal-btn" class="profile-btn"
												data-toggle="modal"><img name="thumbnail" id="profile-img"
													th:src="${challenge.thumbnail}"></button>
										</div>
									</div>
									<div class="col-md-6">
										<label>
											<h3>챌린지 이름</h3>
										</label>
										<input type="text" name="challenge_name" class="form-control "
											placeholder="챌린지 이름" th:value="${challenge.challenge_name}">
										<div class="col-md-6 width-100">
											<label for="main-category">
												<h3>카테고리 (대)</h3>
											</label><input type="text" name="main_category" class="form-control"
												readonly>
										</div>
										<div class="col-md-6 width-100">
											<label for="main-category">
												<h3>카테고리 (소)</h3>
											</label> <input type="text" name="sub_category" class="form-control"
												readonly>
											</select>
										</div>
										<div class="col-md-6 width-100">
											<label for="main-category">
												<h3>시작날짜</h3>
											</label> <input type="date" name="startdate" class="form-control"
												placeholder="시작날짜" required="" th:value="${challenge.startdate}">
										</div>
										<div class="col-md-6 width-100">
											<label for="main-category">
												<h3>종료날짜</h3>
											</label> <input type="date" class="form-control" name="enddate"
												placeholder="종료날짜" required="" th:value=${challenge.enddate}>
										</div>
										<div class="col-md-6 width-100">
											<label for="main-category">
												<h3>유형</h3>
											</label> <select class="form-control main-category" name="challenge_type"
												id="challenge_type" th:value="${challenge.challenge_type}">
												<option>무료</option>
												<option>유료</option>
											</select>
										</div>
									</div>
									<div class="modal">
										<div id="modal_body" class="check">
											<div style="text-align: right;" class="check">
												<button type="button" class="btn-close" aria-label="Close"
													id="modal-close"></button>
											</div>
											<div style="padding:5px 30px 30px 30px" class="check">
												<label for="main-category">
													<h3>이미지 검색</h3>
												</label>
											</div>
											<div class="input-group mb-3" style="padding:0px 30% 30px 30%">
												<input type="text" class="form-control" placeholder="검색어를 입력해주세요"
													aria-label="검색어를 입력해주세요" aria-describedby="basic-addon2"
													id="search-word">
												<div class="input-group-append">
													<button class="btn btn-primary" type="button" style="height: 50px;"
														id="image-search-btn">검색</button>
												</div>
											</div>
											<div id="img-list">

											</div>
										</div>
									</div>

									<div class="col-md-12">
										<label>
											<h3>설명</h3>
										</label>
										<div>
											<textarea id="editor" th:text="${challenge.description}"></textarea>
										</div>
									</div>

									<div class="col-md-12 text-center create-challenge">
										<button type="button" id="create-challenge" class="btn btn-primary">챌린지
											생성</button>
									</div>
									<input type="hidden" class="form-control price" name="member_id"
										th:value='${#authentication.principal.Username}' readonly>
								</div>
							</form>
						</div>
						<!-- End Quote Form -->
					</div>
			</div>
		</section>
</div>
</section>
<!-- End Services Section -->
</main>
<!-- End #main -->
</div>
<th:block layout:fragment="javascript">
	<script src="/build/ckeditor.js"></script>
	<script th:inline="javascript">

		let editor;
		ClassicEditor
			.create(document.querySelector('#editor'))
			.then(newEditor => {
				editor = newEditor;
			})
			.catch(error => {
				console.error(error);
			});
		$(document).ready(function () {
			/*<![CDTATA[*/
			var test =/*[[${challenge.subcategory_id}]]*/
				/*]]>*/
				console.log(test)
			switch (test) {
				case 1:
					$("input[name=sub_category]").attr("value", "영화")
					$("input[name=main_category]").attr("value","취미")
					break;
				case 2:
					$("input[name=sub_category]").attr("value", "모임")
					$("input[name=main_category]").attr("value","취미")
					break;
				case 3:
					$("input[name=sub_category]").attr("value", "등산")
					$("input[name=main_category]").attr("value","취미")
					break;
				case 4:
					$("input[name=sub_category]").attr("value", "독서")
					$("input[name=main_category]").attr("value","자기계발")
					break;
				case 5:
					$("input[name=sub_category]").attr("value", "자격증")
					$("input[name=main_category]").attr("value","자기계발")
					break;
				case 6:
					$("input[name=sub_category]").attr("value", "외국어")
					$("input[name=main_category]").attr("value","자기계발")
					break;
			}
		})
		$('#modal-btn').click(function () {
			$('.modal').toggleClass('show')
		});
		$('#modal-close').click(function () {
			$('.modal').toggleClass('show')
		});

		var searchEvent = function () {
			$('#img-list').empty();
			if ($('#search-word').val() != '') {
				$.ajax({ // ajax 기본형태
					//////////////////// send(가는것)
					url: "/imagelist/" + $('#search-word').val(),
					method: "GET",
					//////////////////// recv
					success: function (data) { // status, xhr 생략가능
						if (data.length != 0) {
							for (var i = 0; i < data.length; i++) {
								$('#img-list').append(
									`<button type="button" class="img-btn">
								<img class="img-lists" src="`+ data[i] + `"></button>`
								)
							}
						} else {
							alert("검색결과가 없습니다");
						}
					},
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				});
			} else {
				alert("검색어를 입력해주세요")
			}
		}
		$('#search-word').keydown(function (key) {
			if (key.keyCode == 13) {
				searchEvent();
			}
		});
		$('#image-search-btn').click(function () {
			searchEvent();
		});

		$(document).on("click", ".img-btn", function () {
			var ch = $(this).find('.img-lists').attr("src")
			$('.modal').toggleClass('show');
			$('#img-list').empty();
			$('#search-word').val("");
			$('#profile-img').attr("src", ch);
		});

		$("#main-category").change(function () {
			var main = $("#main-category").val();
			if (main == "취미") {
				$("#sub-category").empty();
				$("#sub-category").append
					(`<option>카테고리(소)</option>
					<option>영화</option>
					<option>모임</option>
					<option>등산</option>`)
			} else if (main == "자기계발") {
				$("#sub-category").empty();
				$("#sub-category").append
					(`<option>카테고리(소)</option>
					<option>독서</option>
					<option>자격증</option>
					<option>외국어</option>`)
			}
		})

		$('#create-challenge').click(function () {
			var select_sub = $("#sub-category").val();
			var startdate = $("input[name=startdate]").val()
			var enddate = $("input[name=enddate]").val()
			var dateRegexp = /[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])/;
			var subcategory_id;
			switch (select_sub) {
				case "영화":
					subcategory_id = 1;
					break
				case "모임":
					subcategory_id = 2;
					break
				case "등산":
					subcategory_id = 3;
					break
				case "독서":
					subcategory_id = 4;
					break
				case "자격증":
					subcategory_id = 5;
					break
				case "외국어":
					subcategory_id = 6;
					break
			}


			if ($("input[name=challenge_name]").val() == null || $("input[name=challenge_name]").val() == "" || $("input[name=challenge_name]").val().length > 25) {
				alert("제목없거나 너무 김");
			} else if (editor.getData().length > 1000) {
				alert("내용 입력 값 초과");
			} else if (select_sub == "카테고리(소)") {
				alert("카테고리 선택필수");
			} else if (!dateRegexp.test(startdate) || !dateRegexp.test(enddate)) {
				alert("날짜형식 오류")
			} else if (startdate > enddate) {
				alert("종료날짜 설정 오류")
			} else {
				$.ajax({
					url: "/challenge",
					method: "POST",
					data: {
						challenge_name: $("input[name=challenge_name]").val(),
						thumbnail: $("#profile-img").attr("src"),
						startdate: startdate,
						enddate: enddate,
						subcategory_id: subcategory_id,
						description: editor.getData(),
						challenge_type: $("select[name=challenge_type]").val(),
						member_id: $("input[name=member_id]").val()
					},
					dataType: "text",
					//////////////////// recv
					success: location.href = "/list?category=" + subcategory_id + "&sortType=0",
					error: function (xhr, status, error) { // (파라미터 생략가능)
						alert("error");
					}
					////////////////////
				})
			}
		});

	</script>
</th:block>

</html>