<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<header id="header" class="header d-flex align-items-center fixed-top sticked">
	<!-- <header id="header" class="header d-flex align-items-center fixed-top"> -->
		<div
			class="container-fluid container-xl d-flex align-items-center justify-content-between">

			<a href="/" class="logo d-flex align-items-center"> <!-- Uncomment the line below if you also wish to use an image logo -->
				<!-- <img src="assets/img/logo.png" alt=""> -->
				<h1 class="handa-logo">Handa</h1>
			</a> <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i
				class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
			<nav id="navbar" class="navbar">
				<ul>
					<!-- 카테고리 별 링크 적용 -->
					<li class="dropdown"><a href="/list?category=1&sortType=0"><span>취미</span> <i
							class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a th:href="@{/list?category=1&sortType=0}">영화</a></li>
							<li><a th:href="@{/list?category=2&sortType=0}">모임</a></li>
							<li><a th:href="@{/list?category=3&sortType=0}">등산</a></li>
						</ul></li>
					<li class="dropdown"><a href="/list?category=4&sortType=0"><span>자기계발</span> <i
							class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a th:href="@{/list?category=4&sortType=0}">독서</a></li>
							<li><a th:href="@{/list?category=5&sortType=0}">자격증</a></li>
							<li><a th:href="@{/list?category=6&sortType=0}">외국어</a></li>
						</ul></li>

					<!-- 회원인 경우 -->
					<th:block sec:authorize="isAuthenticated()">
						
						<li><a href="/mypage" class="nav-link" style="padding-left: 20px; padding-right: 15px;">
						<i class="fa-solid fa-user" alt="마이페이지" title="마이페이지" ></i></a></li>
						
						<form action="/member/logout" method="post" id="logoutForm">
							<li><a class="logout-btn" href="#" style="padding-left: 15px; padding-right: 15px;">
							<i class="fa-solid fa-right-from-bracket"  alt="로그아웃" title="로그아웃"></i></a></li>
						</form>
					</th:block>

					<!-- 비회원인 경우 -->
					<th:block sec:authorize="isAnonymous()">
						<li><a class="get-a-quote" href="/member/login">로그인</a></li>
						<li><a class="" href="/member/register">회원가입</a></li>
					</th:block>
				</ul>
			</nav>
			<!-- .navbar -->

		</div>
	</header>
	<!-- End Header -->
	<!-- End Header -->
</div>
</html>