<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<p>시큐리티 샘플 페이지</p>
						</div>
					</div>
				</div>
			</div>

			<nav>
				<div class="container">
					<ol>
						<li><a href="/">홈</a></li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->

		<section class="sample-page" style="padding-top: 30px">
			<div class="container" data-aos="fade-up">
				<form action="/upload" method="post" enctype="multipart/form-data">
					<ul>
						<li>이름 <input type="text" name="itemName"></li>
						<li>첨부파일<input type="file" name="uploadFile"></li>
						<!-- <li>이미지 파일들<input type="file" multiple="multiple"
							name="imageFiles"></li> -->
					</ul>
					<input type="submit" />
				</form>
				</form>
			</div>
		</section>

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
		<th:block sec:authorize="isAuthenticated()">
			<div class="container" data-aos="fade-up">
				<p href="#" class="nav-link" sec:authentication="principal"></p>
				<p th:text="${#authentication.principal.Username}"></p>
				<a th:href="@{/member/amend/} + ${#authentication.principal.Username}" class="mypage-btn align-items-center">정보 수정하기</a>
				<a th:href="@{/member/amend/} + ${#authentication.principal.Username}">정보 수정</a>
			</div>
		</th:block>
		</section>
		<!-- End Services Section -->

	</main>
	<!-- End #main -->
</div>
</html>