<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
<!-- include CSS File -->
<th:block layout:fragment="css">
	<!-- Handa Member CSS File -->
	<link th:href="@{/assets/css/member.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">
	<main id="main">
		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('../assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<p>시큐리티 샘플 페이지</p>
						</div>
					</div>
				</div>
			</div>

			<nav>
				<div class="container">
					<ol>
						<li><a href="/">홈</a></li>
					</ol>
				</div>
			</nav>
		</div>
		<!-- End Breadcrumbs -->

		<!-- <section class="sample-page" style="padding-top: 30px">
			<div class="container" data-aos="fade-up">
				<form th:action="@{/upload}" method="post" enctype="multipart/form-data" id="uploadForm">
					<ul>
						<li>이름 <input type="text" name="file"></li>
						<li>첨부파일<input type="file" name="uploadFile"></li>
					</ul>
					<input type="submit" class="file-btn" />
				</form>
				<img alt="" src="" class="profile-img" style="width: 200px; height: 200px;">
			</div>
		</section> -->

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
		<th:block sec:authorize="isAuthenticated()">
			<div class="container" data-aos="fade-up">
				<p href="#" class="nav-link" sec:authentication="principal"></p>
				<p th:text="${#authentication}"></p>
				<p th:text="${#authentication.principal.user}"></p>
				<p href="#" class="nav-link" sec:authentication="principal"></p>
				<a th:href="@{/member/amend/} + ${#authentication.principal.Username}" class="mypage-btn align-items-center">정보 수정하기</a>
				<a th:href="@{/member/amend/} + ${#authentication.principal.Username}">정보 수정</a>
			</div>
		</th:block>
		</section>
		<!-- End Services Section -->

	</main>
	<!-- End #main -->
</div>
<th:block layout:fragment="javascript">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
	
	$(document).ready(function(){
	
	function loadSwal(text) {
		Swal.fire({
			  icon: 'error',
			  text: text
		})
	}
	
	$(".file-btn").on("click", function (e) {
        
        e.preventDefault();
        
        const uploadFile = $('input[name=uploadFile]').val();
        
        var form = $('#uploadForm')[0];
        var formData = new FormData(form);
        
        console.log($('#uploadForm'));
        
        $.ajax({
			type: 'post',
			url: "/upload",
			data: formData,
			contentType : false,
			processData : false,
			success: function (data) {
				console.log(data);
				console.log(data.profile_uuid);
				console.log(data.profile_name);
				console.log(data.profile_path);
				
				const uploadPath = data.profile_path.replace(/\\/gi,"/");
				
				console.log('uploadPath: ', uploadPath);
				
				const profileURL = "/viewFile?fname=" + uploadPath + "/" + data.profile_uuid + "_" + data.profile_name;
				
				console.log('profileURL: ', profileURL);
				
				$('.profile-img').attr("src", profileURL);
			}
		});
		
		

		// 폼 전송
       /*  $(".php-email-form").attr("action", "/member/register");
        $(".php-email-form").submit(); */
    });
	
	

		
});
</script>
</th:block>
</html>