<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<div layout:fragment="content">
	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<div class="breadcrumbs">
			<div class="page-header d-flex align-items-center"
				style="background-image: url('assets/img/page-header.jpg');">
				<div class="container position-relative">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-6 text-center">
							<h2>Challenge List</h2>
							<p>원하는 챌린지에 참여해보세요.</p>
						</div>
					</div>
				</div>
			</div>

			<nav>
				<div class="container">
					<ol>
						<li><a href="index.html">홈</a></li>
						<li>챌린지 생성</li>
					</ol>
				</div>
			</nav>
		</div> <!-- End Breadcrumbs -->

		<section class="sample-page">
			<div class="container" data-aos="fade-up">

			</div>
		</section>

		<!-- ======= Services Section ======= -->
		<section id="service" class="services pt-0">
			<div class="container" data-aos="fade-up">

				<div class="section-header">
					<span>챌린지 생성</span>
					<h2>챌린지 생성</h2>
				</div>
				<section id="get-a-quote" class="get-a-quote">
					<div class="container aos-init aos-animate" data-aos="fade-up">

						<div class="row g-0">
							<div class="">
								<form action="forms/quote.php" method="post" class="php-email-form">
									<!-- <h3>Get a quote</h3>
	              <p>Vel nobis odio laboriosam et hic voluptatem. Inventore vitae totam. Rerum repellendus enim linead sero park flows.</p>
	              -->
									<div class="row gy-4">

										<div class="form-group">
											<label>
												<h3>이름</h3>
											</label>
											<input type="text" name="departure" class="form-control " placeholder="이름"
												required="">
										</div>

										<div class="col-md-12">
											<label>
												<h3>설명</h3>
											</label>
											<textarea class="form-control" name="message" rows="6" placeholder="설명"
												required="">에디터로 변경?</textarea>
										</div>
										<div class="col-md-6">
											<label for="main-category">
												<h3>카테고리 (대)</h3>
											</label>
											<select class="form-control main-category" id="main-category">
												<option>취미</option>
												<option>자기계발</option>
											</select>
										</div>

										<div class="col-md-6">
											<label for="main-category">
												<h3>카테고리 (소)</h3>
											</label>
											<select class="form-control main-category" id="main-category">
												<option>영화</option>
												<option>모임</option>
												<option>등산</option>
											</select>
										</div>


										<div class="col-md-6">
											<label for="main-category">
												<h3>시작날짜</h3>
											</label>
											<input type="date" name="startdate" class="form-control" placeholder="시작날짜"
												required="">
										</div>

										<div class="col-md-6">
											<label for="main-category">
												<h3>종료날짜</h3>
											</label>
											<input type="date" class="form-control" name="enddate" placeholder="종료날짜"
												required="">
										</div>
										<!-- Button trigger modal -->
										<button type="button" class="btn btn-primary" data-toggle="modal"
											data-target="#exampleModal">
											모달
										</button>
										<div class="col-md-12 text-center create-challenge">
											<button type="submit">챌린지 생성</button>
										</div>

									</div>
								</form>
							</div><!-- End Quote Form -->

						</div>

					</div>
				</section>
			</div>
		</section><!-- End Services Section -->
	</main><!-- End #main -->
</div>

</html>