<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<div layout:fragment="content">
   <main id="main">
  
  <!-- ======= Breadcrumbs ======= -->
  	<div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Challenge List</h2>
              <p>원하는 챌린지에 참여해보세요.</p>
            </div>
          </div>
        </div>
      </div>

      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">홈</a></li>
            <li>챌린지 상세</li>
          </ol>
        </div>
      </nav>
    </div> <!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">
        
      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>챌린지 상세</span>
          <h2>챌린지 상세</h2>
        </div>
		<section id="get-a-quote" class="get-a-quote">
      		<div>탭</div>
      		<div>챌린지이름</div>
      		<div>챌린지이름</div>
      		<div>챌린지이름</div>
    	</section>
      </div>
    </section><!-- End Services Section -->
  </main><!-- End #main --> 
</div>
</html>