<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<div layout:fragment="content">
   <main id="main">
  
  <!-- ======= Breadcrumbs ======= -->
  	<div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Login</h2>
              <p>원하는 챌린지에 참여해보세요.</p>
            </div>
          </div>
        </div>
      </div>

      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">홈</a></li>
            <li>로그인</li>
          </ol>
        </div>
      </nav>
    </div> <!-- End Breadcrumbs -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">
      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>로그인</span>
          <h2>로그인</h2>
        </div>
		<section id="contact" class="contact">
      		<div class="text-center">
	          <div class="login-div">
	            <form action="" method="post" role="form" class="php-email-form">
	              <div class="row">
	                <div class="form-group mt-3">
	                	<label><b>아이디</b></label>
	                  <input type="text" name="memberid" class="form-control" id="memberid" placeholder="아이디" required="">
	                </div>
	                <div class="form-group mt-3">
	                	<label><b>비밀번호</b></label>
	                  <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호" required="">
	                </div>
	              </div>
	              <div class="text-center"><button type="submit">로그인</button></div>
	              <div class="text-center"><a href="#">회원가입</a></div>
	            </form>
	          </div><!-- End Contact Form -->

        </div>
    	</section>
      </div>
     	
    </section><!-- End Services Section -->
    
  </main><!-- End #main --> 
</div>
</html>